<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap相關 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap相關 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- css   -->
    <link
      href="/css/member/MemberCenter.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/css/baseVer2.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css"
    />

    <!-- 上傳小icon -->
    <script
      src="https://kit.fontawesome.com/664595efd5.js"
      crossorigin="anonymous"
    ></script>

    <!--   Jquery   -->
    <!-- <script src="/jquery/jquery-3.6.4.min.js"></script> -->
    <!-- 要登入驗證解開這個 -->
    <!-- <script src="../js/loginCheck.js"></script> -->

    <title>懸賞啼雀-會員資料</title>
  </head>
  <body class="TeacherWanted">
    <!-- 手機板導引列(粗糙) -->
    <header class="TeacherWanted">
      <div id="mySidebar">
        <img src="../img/base/logo.png" alt="" />
        <a href="/index" class="">首頁</a>
        <a href="/courseteacher/CourseVue.html" class="">課程</a>
        <a href="/active/activeIndex.html" class="">活動</a>
        <a href="/wish" class="">許願池</a>
        <a href="/bbsdiscuss/index.html" class="">論壇</a>
        <a href="/baseVer3/homepage.html" class="">商城</a>
      </div>
      <div class="navBar">
        <ul class="containerHearder flexWrap flexVerticalCenter">
          <li>
            <img
              src="../img/base/menu.png"
              id="phoneMenu"
              class="mobileHave"
              style="height: 30px; margin: 10px"
              alt=""
            />
          </li>

          <li
            class="flexWrap flexAllCenter"
            style="font-size: 50px; color: #a4c964; margin: 10px 0px"
          >
            <img
              src="../img/base/logo.png"
              class="miniMobile"
              style="height: 50px; margin: 0px 5px"
              alt=""
            />
            <p>懸賞啼雀</p>
          </li>
          <li
            class="flexWrap"
            style="
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: end;
            "
          >
            <!-- 電腦版導引列 -->
            <div
              id="navLink"
              class="flexWrap flexAllCenter pcHave"
              style="flex-grow: 1"
            >
              <a class="flexAllCenter" href="/index">首頁</a>
              <a class="flexAllCenter" href="/courseteacher/CourseVue.html"
                >課程</a
              >
              <a class="flexAllCenter" href="/active/activeIndex.html">活動</a>
              <a class="flexAllCenter" href="/wish">許願池</a>
              <a class="flexAllCenter" href="/bbsdiscuss/index.html">論壇</a>
              <a class="flexAllCenter" href="/baseVer3/homepage.html">商城</a>
            </div>
            <div
              class="flexWrap flexAllCenter"
              style="position: relative; top: 2px"
            >
              <div class="miniMobile">
                <div id="navSearch" action="">
                  <select id="serchType">
                    <option value="課程">課程</option>
                    <option value="活動">活動</option>
                    <!-- <option value="商城">商城</option>
                    <option value="許願">許願</option> -->
                  </select>
                  <input id="searchText" type="text" />
                  <img id="searchIcon" src="../img/base/search.svg" alt="" />
                </div>
              </div>

              <img
                src="../img/base/bell.svg"
                id="navAnn"
                class="miniMobile"
                style="height: 30px; margin: 3px 5px; cursor: pointer"
                alt=""
              />
              <img
                src="../img/base/mailForNavbar.svg"
                id="navMail"
                class="miniMobile"
                style="
                  height: 30px;
                  margin: 3px 5px;
                  cursor: pointer;
                  position: relative;
                  bottom: 1px;
                "
                alt=""
              />
              <img
                src="../img/base/shoppingCart.svg"
                id="navShoppingcart"
                class="miniMobile"
                style="height: 30px; margin: 3px 5px; cursor: pointer"
                alt=""
              />

              <!--登入按鈕 開始 -->

              <div id="loginOrUser"></div>
              <!-- 登入按鈕 結束 -->
            </div>
          </li>
        </ul>
      </div>
    </header>

    <main class="TeacherWanted">
      <!-- ！！！寫在這裡！！！
      如果要讓區塊至中的話可以使用containerBase這個class(目前寬度1140px) -->
      <section class="container" style="display: flex" id="app">
        <!-- 頁面左邊 -->
        <div class="aside">
          <div style="width: 100%">
            <div class="detailSearch">
              <!--按鈕圖示-->
              <div
                class="flexWrap flexAllCenter"
                style="position: relative; top: 2px"
              >
                <div>
                  <form id="navSearch1" action="">
                    <select
                      style="width: 125px; margin-left: 80px"
                      name="formal"
                    >
                      <option value="MemberCenter">我的課程</option>
                      <option value="MemberDetail">會員資料</option>
                      <option value="MySubscribe">訂閱與收藏</option>
                      <option value="orderList">訂單管理</option>
                      <option value="inboxmail">站內信</option>
                    </select>
                  </form>
                </div>
              </div>
            </div>
            <!--會員照片-->
            <div class="memInfo">
              <div class="flexWrap flexAllCenter">
                <!-- 頭像開始 -->

                <div class="profile_picture m-0">
                  <div
                    style="text-align: center"
                    class="pb-2"
                    alt="頭像設置"
                  ></div>
                  <div>
                    <img
                      id="eximg"
                      class="rounded-circle"
                      :src="imageSrc"
                      src="/img/member/aside/logobgg.png"
                      alt=""
                    />
                  </div>
                  <div class="setfileinput" v-else>
                    <div>
                      <input
                        type="file"
                        id="p_file"
                        name="image_uploads"
                        accept=".jpg, .jpeg, .png"
                        :disabled=" isDisabled"
                        @change="handleFileUpload"
                      />
                    </div>
                    <div id="file_camera">
                      <i class="fa-solid fa-cloud-arrow-up"></i>
                    </div>
                  </div>
                </div>
                <!-- 頭像結束 -->

                <div class="memName">
                  <img
                    src="/teacherWanted/baseVer2/img/aside/icons8-bird-48.png"
                    alt=""
                  />
                  <span>會員姓名: {{member.memName}}</span>
                </div>

                <!-- <div class="flexHorizontalCenter">
                  <span>簽到日期:2023-04-11</span>
                </div> -->
                <div class="flexHorizontalCenter">
                  <!--在此加入行事曆-->
                  <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 頁面右邊 -->
        <div class="main" style="height: max-content">
          <div class="">
            <!-- 會員資料 -->
            <div class="">
              <h1>帳號管理</h1>
              <br />
              <div class="memDetail" id="app">
                <!-- 會員資料表身 -->
                <form class="pure-form">
                  <div class="d-grid gap-3">
                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            disabled
                            v-model="member.memId"
                          />
                          <label for="floatingInputGrid">會員編號</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            disabled
                            v-model="member.memAccount"
                          />
                          <label for="floatingInputGrid">帳號</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memName"
                          />
                          <label for="floatingInputGrid">姓名</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type="password"
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memPassword"
                          />
                          <label for="floatingInputGrid">密碼</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memNickname"
                          />
                          <label for="floatingInputGrid">暱稱</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memBirthday"
                          />
                          <label for="floatingInputGrid">生日</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <select
                            class="form-select"
                            id="floatingSelectGrid"
                            aria-label="Floating label select example"
                            :disabled=" isDisabled"
                            v-model="member.memGender"
                          >
                            <option selected></option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="3">無</option>
                          </select>
                          <label for="floatingSelectGrid">性別</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memEmail"
                          />
                          <label for="floatingInputGrid">Email</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memLocation"
                          />
                          <label for="floatingInputGrid">地區</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.interest1"
                          />
                          <label for="floatingInputGrid">有興趣主題1</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.interest2"
                          />
                          <label for="floatingInputGrid">有興趣主題2</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.interest3"
                          />
                          <label for="floatingInputGrid">有興趣主題3</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.createTime"
                          />
                          <label for="floatingInputGrid">新增日期</label>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.updateTime"
                          />
                          <label for="floatingInputGrid">更新日期</label>
                        </div>
                      </div>
                    </div>

                    <div class="row g-2">
                      <div class="col-md">
                        <div class="form-floating">
                          <input
                            type=""
                            class="form-control"
                            id="floatingInputGrid"
                            placeholder=""
                            value=""
                            :disabled=" isDisabled"
                            v-model="member.memStatus"
                          />
                          <label for="floatingInputGrid">會員狀態</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <br />

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                  style="z-index: 10000"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          資料修改
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">確定修改資料?</div>
                      <div v-else class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-success"
                          data-bs-dismiss="modal"
                        >
                          關閉
                        </button>
                        <button
                          id="btn-submit"
                          type="button"
                          class="btn btn-outline-success"
                          data-bs-dismiss="modal"
                          @click="submit"
                        >
                          確定變更
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div v-if="isDisabled" class="flexHorizontalCenter">
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    @click="edit"
                  >
                    編輯
                  </button>
                </div>
                <div v-else class="flexHorizontalCenter">
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    確認</button
                  >&emsp;
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    @click="cancel"
                  >
                    取消
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer
      class="TeacherWanted"
      style="background-color: #3c6a36; color: white"
    >
      <div
        class="containerFooter flexAllCenter"
        style="box-sizing: border-box; padding-top: 50px"
      >
        <div class="flexWrap">
          <ul class="col_33">
            <li class="flexAllCenter" style="color: #a4c964; font-size: 40px">
              懸賞啼雀
            </li>
            <li
              class="flexAllCenter"
              style="margin: 10px 30px; font-weight: normal"
            >
              現代⼈⽣活步相當緊湊我們的課平台幫助
              ⼈們學並且除了線上課提供了實家的合會⼤了學的⾯向
              課元可提⾼學⽣的學興積性 並促學⽣的⾯發展
            </li>
            <li
              id="imgIcon"
              class="flexVerticalCenter"
              style="margin: 20px 30px"
            >
              <img src="../img/base/facebook.svg" class="imgIntroduce" alt="" />
              <img src="../img/base/twitter.svg" class="imgIntroduce" alt="" />
              <img
                src="../img/base/instagram.svg"
                class="imgIntroduce"
                alt=""
              />
            </li>
          </ul>
          <ul class="col_33 flexHorizontalCenter footerMobile">
            <div style="width: 70%">
              <li
                class="flexAllCenter"
                style="color: #a4c964; font-size: 30px; height: 65px"
              >
                Get In Touch
              </li>
              <div class="" style="height: 250px; font-weight: 400">
                <li class="flexWrap" style="margin-top: 10px">
                  <img
                    src="../img/base/map-marker.svg"
                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                    alt=""
                  />
                  <div>
                    <h3 style="font-size: 1.3rem">地址</h3>
                    <h5 style="font-size: 1rem">台北市中山區南京東路三段</h5>
                  </div>
                </li>

                <li class="flexWrap" style="margin-top: 10px">
                  <img
                    src="../img/base/mail.svg"
                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                    alt=""
                  />
                  <div>
                    <h3 style="font-size: 1.3rem">信箱</h3>
                    <h5 style="font-size: 1rem">a1234567890@gmail.com</h5>
                  </div>
                </li>

                <li class="flexWrap" style="margin-top: 10px">
                  <img
                    src="../img/base/phone.svg"
                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                    alt=""
                  />
                  <div>
                    <h3 style="font-size: 1.3rem">連絡電話</h3>
                    <h5 style="font-size: 1rem">0900123456</h5>
                  </div>
                </li>
              </div>
            </div>
          </ul>
          <ul class="col_33 flexHorizontalCenter footerMobile">
            <div style="width: 40%">
              <li
                class="flexAllCenter"
                style="color: #a4c964; font-size: 30px; height: 65px"
              >
                網站地圖
              </li>
              <div class="webMap">
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="/index">>首頁</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="/courseteacher/CourseVue.html"
                    >>課程</a
                  >
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="/active/activeIndex.html"
                    >>活動</a
                  >
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="/wish">>許願池</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="/bbsdiscuss/index.html">>論壇</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="/baseVer3/homepage.html">>商城</a>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </footer>
    <!--   Jquery   -->
    <script src="/jquery/jquery-3.6.4.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--  axios -->
    <script src="/axios/axios.js"></script>
    <!--  vue   -->
    <script src="/vue/vue-3.3.4.js"></script>
    <!--  js  -->
    <script src="/js/base.js"></script>
    <script src="/js/member/MemberDetail.js"></script>
    <!-- fullcalendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  </body>
</html>
