.activeTextAndMore {
  padding: 30px 10px;
}

.moreActivity {
  padding: 15px 30px;
  display: flex;
  justify-content: space-around;
}
.oneActivity {
  width: 21%;
  height: 400px;
  background-color: white;

  border-radius: 4px;
}

.containerActiveIndex {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1550px;
}

@media screen and (max-width: 1250px) {
  .oneActivity {
    width: 45%;
    margin-top: 30px;
  }
  .oneActivity:nth-child(1) {
    margin-top: 0px;
  }
  .oneActivity:nth-child(2) {
    margin-top: 0px;
  }
}

@media screen and (max-width: 650px) {
  .oneActivity {
    width: 100%;
    margin-top: 30px;
  }
  .oneActivity:nth-child(1) {
    margin-top: 0px;
  }
  .oneActivity:nth-child(2) {
    margin-top: 30px;
  }
}

.activityImgs {
  height: 200px;
  background-color: #d5dfc4;
  border-radius: 4px 4px 0px 0px;
}
.activityImgs img {
  border-radius: 4px 4px 0px 0px;
  max-height: 200px;
}

.oneActivityMapAndPrice {
  height: 20%;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.oneActivityPrice {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  color: #3c6a36;
  font-size: 1.5rem;
}

.activityIndexBtn {
  border-radius: 30px;
  background-color: #a4c964;
  color: white;
  box-sizing: border-box;
  padding: 3px 20px;
}

.activityIndexBtn:hover {
  background-color: #3c6a36;
  color: white;
}

.oneActivityIntroduce {
  height: calc(100% - 200px);
  padding: 10px;
  box-sizing: border-box;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 50%;
  max-height: 400px;
  width: auto;
  transform: translate(-50%, 0);
}

.carousel-indicators button {
  color: black;
}
