<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- bootstrap相關 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- bootstrap相關 -->

    <link href="../css/baseVer2.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="../jquery/jquery-3.6.4.min.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/dropdown.js"></script>

    <!-- from kinder -->
    <link href="../css/style.css" rel="stylesheet" />
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../lib/lightbox/js/lightbox.min.js"></script>



    <!-- Template Javascript -->
    <script src="../js/main.js"></script>

    <title>懸賞啼雀</title>
<!--    會員選單css start-->
    <style>
      .dropdown-toggle {
        position: relative;
      }

      .dropdown-toggle .arrow {
        display: inline-block;
        margin-left: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid black;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px;
      }

      .dropdown.open .dropdown-menu {
        display: block;
      }

    </style>
    <!--    會員選單css end-->
  </head>
  <body class="TeacherWanted">
  <!-- 手機板導引列(粗糙) -->
  <header class="TeacherWanted">
    <div id="mySidebar">
      <img src="../img/base/logo.png" alt="" />
      <a href="/index" class="">首頁</a>
      <a href="/courseteacher/CourseVue.html" class="">課程</a>
      <a href="/active/activeIndex.html" class="">活動</a>
      <a href="/wish" class="">許願池</a>
      <a href="/bbsdiscuss/index.html?posttype=all" class="">論壇</a>
      <a href="/baseVer3/homepage.html" class="">商城</a>
    </div>
    <div class="navBar">
      <ul class="containerHearder flexWrap flexVerticalCenter">
        <li>
          <img
                  src="../img/base/menu.png"
                  id="phoneMenu"
                  class="mobileHave"
                  style="height: 30px; margin: 10px"
                  alt=""
          />
        </li>

        <li
                class="flexWrap flexAllCenter"
                style="font-size: 50px; color: #a4c964; margin: 10px 0px"
        >
          <img
                  src="../img/base/logo.png"
                  class="miniMobile"
                  style="height: 50px; margin: 0px 5px"
                  alt=""
          />
          <p>懸賞啼雀</p>
        </li>
        <li
                class="flexWrap"
                style="
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: end;
            "
        >
          <!-- 電腦版導引列 -->
          <div
                  id="navLink"
                  class="flexWrap flexAllCenter pcHave"
                  style="flex-grow: 1"
          >
            <a class="flexAllCenter" href="/index"><b>首頁</b></a>
            <a class="flexAllCenter" href="/courseteacher/CourseVue.html"
            ><b>課程</b></a
            >
            <a class="flexAllCenter" href="/active/activeIndex.html"><b>活動</b></a>
            <a class="flexAllCenter" href="/wish"><b>許願池</b></a>
            <a class="flexAllCenter" href="/bbsdiscuss/index.html?posttype=all"><b>論壇</b></a>
            <a class="flexAllCenter" href="/baseVer3/homepage.html"><b>商城</b></a>
          </div>
          <div
                  class="flexWrap flexAllCenter"
                  style="position: relative; top: 2px"
          >
            <div class="miniMobile">
              <div id="navSearch" action="">
                <select id="serchType">
                  <option value="課程">課程</option>
                  <option value="活動">活動</option>
                  <!-- <option value="商城">商城</option>
                  <option value="許願">許願</option> -->
                </select>
                <input id="searchText" type="text" />
                <img id="searchIcon" src="../img/base/search.svg" alt="" />
              </div>
            </div>

            <img
                    src="../img/base/bell.svg"
                    id="navAnn"
                    class="miniMobile"
                    style="height: 30px; margin: 3px 5px; cursor: pointer"
                    alt=""
            />
            <img
                    src="../img/base/mailForNavbar.svg"
                    id="navMail"
                    class="miniMobile"
                    style="
                  height: 30px;
                  margin: 3px 5px;
                  cursor: pointer;
                  position: relative;
                  bottom: 1px;
                "
                    alt=""
            />
            <img
                    src="../img/base/shoppingCart.svg"
                    id="navShoppingcart"
                    class="miniMobile"
                    style="height: 30px; margin: 3px 5px; cursor: pointer"
                    alt=""
            />

            <!--登入按鈕 開始 -->

            <div id="loginOrUser"></div>
            <!-- 登入按鈕 結束 -->
          </div>
        </li>
      </ul>
    </div>
  </header>

  <div th:if="${msg != null }">
      <script th:inline="javascript">
        alert([[${msg}]]);
      </script>
    </div>


    <main class="TeacherWanted">
      <!-- Header Start -->
      <div
        class="container-fluid bg-primary px-0 px-md-5 mb-5"
        style="
          background-color: rgb(164, 201, 100) !important;
          display: flex;
          justify-content: center !important;
        "
      >
        <div class="row align-items-center px-3">
          <div class="col-6">
            <h4
              class="text-white mb-4 mt-5 mt-lg-0"
              style="
                font-family: Nunito;
                font-size: 25px;
                margin-left: 120px !important;
              "
            >
              The most diverse learning platform
            </h4>
            <h1
              class="display-3 font-weight-bold"
              style="
                font-family: Nunito;
                font-size: 60px;
                margin-left: 110px;
                color: rgb(1, 71, 1);
              "
              ;
            >
              最多元的課程平台
            </h1>
            <br />
            <p
              class="text-white mb-4"
              style="
                font-weight: bold;
                font-size: 23px;
                margin-left: 120px;
                color: rgb(24, 112, 2) !important;
              "
            >
              歡迎來到懸賞啼雀家教平台！
            </p>
            <p
              style="
                font-weight: bold;
                font-size: 20px;
                color: black;
                margin-left: 120px !important;
              "
            >
              我們提供各種科目和年齡的家教課程，
              <br />
              平台上的家教老師都經過嚴格篩選，以確保授課的品質。
              <br />
              每位學生都有潛力，我們的課程可以幫助學生發揮最大潛能!
            </p>
            <br />
            <br />

            <div style="display: flex; align-items: center">
              <input
                type="text"
                placeholder="  ...輸入課程關鍵字"
                style="
                  margin-left: 120px;
                  width: 300px;
                  height: 59px;
                  border-radius: 5px;
                  font-size: 22px;
                  border: 3px solid green;
                "
              /><a
                href=""
                class="btn btn-secondary mt-1 py-3 px-5"
                style="border-radius: 10px; font-size: 20px"
                >搜尋</a
              >
            </div>
          </div>

          <div class="col-6">
            <img
              class="img-fluid mt-5"
              src="../img/index/teacher.png"
              style="padding: 30px"
            />
          </div>
        </div>
      </div>
      <!-- Header End -->

      <!-- Facilities Start -->
      <div class="container-fluid pt-5">
        <div class="container pb-3">
          <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i class="flaticon-050-fence h1 mb-3"></i>
                <div class="pl-4">
                  <a href=""><h4 style="font-family: Nunito">外語學習</h4></a>
                  <p class="m-0">
                    我們擁有英語、法語、德語和日語等堅強師資。您將學到語言的基本結構和詞彙，並練習口語和寫作技巧、文化理解能力。
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i class="flaticon-022-drum h1 mb-3"></i>
                <div class="pl-4">
                  <a href=""><h4 style="font-family: Nunito">音樂課程</h4></a>
                  <p class="m-0">
                    想學習演奏樂器和創作音樂嗎?
                    老師們將帶您學習音樂理論並發展音樂技能和創造力。
                    <br />
                    <br />
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i class="flaticon-030-crayons h1 mb-3"></i>
                <div class="pl-4">
                  <a href=""><h4 style="font-family: Nunito">美術課程</h4></a>
                  <p class="m-0">
                    在此您可學習如何運用色彩、線條和形狀等元素併用不同形式的美術創作，包括素描、油畫、水彩畫和版畫等。
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i class="flaticon-017-toy-car h1 mb-3"></i>
                <div class="pl-4">
                  <a href=""><h4 style="font-family: Nunito">運動課程</h4></a>
                  <p class="m-0">
                    我們有豐富的籃球、足球、排球和游泳等師資。您將學會如何團隊合作、發揮個人潛力，同時促進身體健康。
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i class="flaticon-025-sandwich h1 mb-3"></i>
                <div class="pl-4">
                  <a href=""><h4 style="font-family: Nunito">程式語言</h4></a>
                  <p class="m-0">
                    想跟上趨勢，學習程式語言嗎?還分不清前端後端?沒問題!
                    <br />
                    老師們會一步一步帶您學習。
                    <br />
                    <br />
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
              <div
                class="d-flex bg-light shadow-sm border-top rounded mb-4"
                style="padding: 30px"
              >
                <i class="flaticon-047-backpack h1 mb-3"></i>
                <div class="pl-4">
                  <a href=""><h4 style="font-family: Nunito">一般學科</h4></a>
                  <p class="m-0">
                    加強數學、歷史、地理、化學、國文等學科，到這裡找老師就對了，您將理解更多不同的概念和觀點。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Facilities Start -->

      <!-- About Start -->
      <div class="container-fluid py-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <img
                class="img-fluid rounded mb-5 mb-lg-0"
                src="../img/index/learn1.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-7">
              <p class="section-title pr-5" style="color: green">
                <span class="pr-2" style="color: green">我們的承諾</span>
                <br />
                <br />
              </p>
              <h1 class="mb-4" style="font-family: Nunito">
                為您找到合適的師資
              </h1>
              <p>
                我們致力於提供優質的家教服務，讓學生能夠找到最適合他們的老師。<br />立即註冊並開始尋找您的課程吧！
              </p>
              <div class="row pt-2 pb-4">
                <div class="col-6 col-md-4">
                  <img class="img-fluid rounded" src="../img/index/learn2.jpg" alt="" />
                </div>
                <div class="col-6 col-md-8">
                  <ul class="list-inline m-0">
                    <li class="py-2 border-top border-bottom">
                      <i class=" text-primary mr-3"></i> 優良師資
                    </li>
                    <li class="py-2 border-bottom">
                      <i class=" text-primary mr-3"></i>
                      收費平價
                    </li>
                    <li class="py-2 border-bottom">
                      <i class=" text-primary mr-3"></i>
                      學習成果顯著
                    </li>
                  </ul>
                </div>
              </div>
              <br />
              <a
                href="register"
                class="btn btn-primary mt-2 py-2 px-4"
                >立即註冊</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

      <!-- Class Start -->
      <div class="container-fluid pt-5">
        <div class="container">
          <div class="text-center pb-2">
            <p class="section-title px-5">
              <span class="px-2">熱門課程</span>
              <br />
              <br />
            </p>
            <h1 class="mb-4" style="font-family: Nunito">就業養成班</h1>
          </div>
          <div class="row">
            <div class="col-lg-4 mb-5">
              <div class="card border-0 bg-light shadow-sm pb-2">
                <img class="card-img-top mb-2" src="../img/index/java.jpeg" alt="" />
                <div class="card-body text-center">
                  <h4 class="card-title">JAVA雲端服務開發</h4>
                  <p class="card-text">
                    JAVA雲端服務開發是現代應用程式開發的核心技術，本課程深入講解JAVA後端開發、框架應用、版本控制、雲端部署等技能，讓您成為優秀的JAVA雲端服務開發者！

                  </p>
                </div>
                <div class="card-footer bg-transparent py-4 px-5">
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>適合學習對象</strong>
                    </div>
                    <div class="col-6 py-1">22歲以上</div>
                  </div>
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>課程型態</strong>
                    </div>
                    <div class="col-6 py-1">線上影片</div>
                  </div>
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>授課時數</strong>
                    </div>
                    <div class="col-6 py-1">200小時</div>
                  </div>
                  <div class="row">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>課程費用</strong>
                    </div>
                    <div class="col-6 py-1">30000元</div>
                  </div>
                </div>
                <a href="" class="btn btn-primary px-4 mx-auto mb-4"
                  >查看詳情</a
                >
              </div>
            </div>

            <div class="col-lg-4 mb-5">
              <div class="card border-0 bg-light shadow-sm pb-2">
                <img class="card-img-top mb-2" src="../img/index/uiux.jpg" alt="" />
                <div class="card-body text-center">
                  <h4 class="card-title">UI/UX設計師培訓</h4>
                  <p class="card-text">
                    UI/UX設計是網站與APP重要的一環，本課程教導設計原則、工具與流程，加上實務案例，讓您成為優秀的UI/UX設計師！
                    <br />
                    <br />
                  </p>
                </div>
                <div class="card-footer bg-transparent py-4 px-5">
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>適合學習對象</strong>
                    </div>
                    <div class="col-6 py-1">18歲以上</div>
                  </div>
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>課程型態</strong>
                    </div>
                    <div class="col-6 py-1">實體課程</div>
                  </div>
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>授課時數</strong>
                    </div>
                    <div class="col-6 py-1">10小時</div>
                  </div>
                  <div class="row">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>課程費用</strong>
                    </div>
                    <div class="col-6 py-1">20000元</div>
                  </div>
                </div>
                <a href="" class="btn btn-primary px-4 mx-auto mb-4"
                  >查看詳情</a
                >
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card border-0 bg-light shadow-sm pb-2">
                <img class="card-img-top mb-2" src="../img/index/app.jpg" alt="" />
                <div class="card-body text-center">
                  <h4 class="card-title">手機APP開發</h4>
                  <p class="card-text">
                    想打造自己的APP嗎？本課程教授手機APP開發技能，包含iOS、Android平台、React
                    Native等，實用案例加強學習成效，讓您輕鬆打造出優秀的手機APP！
                  </p>
                </div>
                <div class="card-footer bg-transparent py-4 px-5">
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>適合學習對象</strong>
                    </div>
                    <div class="col-6 py-1">20歲以上</div>
                  </div>
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>課程型態</strong>
                    </div>
                    <div class="col-6 py-1">線上影片</div>
                  </div>
                  <div class="row border-bottom">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>授課時數</strong>
                    </div>
                    <div class="col-6 py-1">160小時</div>
                  </div>
                  <div class="row">
                    <div class="col-6 py-1 text-right border-right">
                      <strong>課程費用</strong>
                    </div>
                    <div class="col-6 py-1">25000元</div>
                  </div>
                </div>
                <a href="" class="btn btn-primary px-4 mx-auto mb-4"
                  >查看詳情</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Class End -->

      <!-- Team Start -->
      <div class="container-fluid pt-5">
        <div class="container">
          <div class="text-center pb-2">
            <p class="section-title px-5">
              <span class="px-2">我們的師資</span>
              <br />
              <br />
            </p>
            <h1 class="mb-4" style="font-family: Nunito">本月熱門教師</h1>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-5">
              <div
                class="position-relative overflow-hidden mb-4"
                style="border-radius: 100%"
              >
                <img class="img-fluid w-100" src="../img/index/team-1.jpg" alt="" />
                <div
                  class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
                >
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
              <h4>Amber</h4>
              <i>數學老師</i>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
              <div
                class="position-relative overflow-hidden mb-4"
                style="border-radius: 100%"
              >
                <img class="img-fluid w-100" src="../img/index/team-2.jpeg" alt="" />
                <div
                  class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
                >
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
              <h4>John</h4>
              <i>英文老師</i>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
              <div
                class="position-relative overflow-hidden mb-4"
                style="border-radius: 100%"
              >
                <img class="img-fluid w-100" src="../img/index/team-3.jpg" alt="" />
                <div
                  class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
                >
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
              <h4>Alice</h4>
              <i>舞蹈老師</i>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
              <div
                class="position-relative overflow-hidden mb-4"
                style="border-radius: 100%"
              >
                <img class="img-fluid w-100" src="../img/index/team-4.jfif" alt="" />
                <div
                  class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute"
                >
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center mr-2 px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-outline-light text-center px-0"
                    style="width: 38px; height: 38px"
                    href="#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
              <h4>Cindy</h4>
              <i>水彩老師</i>
            </div>
          </div>
        </div>
      </div>
      <!-- Team End -->


    </main>

  <footer
          class="TeacherWanted"
          style="background-color: #3c6a36; color: white"
  >
    <div
            class="containerFooter flexAllCenter"
            style="box-sizing: border-box; padding-top: 50px"
    >
      <div class="flexWrap">
        <ul class="col_33">
          <li class="flexAllCenter" style="color: #a4c964; font-size: 40px">
            懸賞啼雀
          </li>
          <li
                  class="flexAllCenter"
                  style="margin: 10px 30px; font-weight: normal"
          >
            現代⼈⽣活步相當緊湊，我們的課平台幫助各年齡層
            的⼈們學習，除了線上課也提供了家教的媒合。
            相信這裡的課程的多元性可促進學⽣的全⾯發展。
          </li>
          <li
                  id="imgIcon"
                  class="flexVerticalCenter"
                  style="margin: 20px 30px"
          >
            <img src="../img/base/facebook.svg" class="imgIntroduce" alt="" />
            <img src="../img/base/twitter.svg" class="imgIntroduce" alt="" />
            <img
                    src="../img/base/instagram.svg"
                    class="imgIntroduce"
                    alt=""
            />
          </li>
        </ul>
        <ul class="col_33 flexHorizontalCenter footerMobile">
          <div style="width: 70%">
            <li
                    class="flexAllCenter"
                    style="color: #a4c964; font-size: 30px; height: 65px"
            >
              Get In Touch
            </li>
            <div class="" style="height: 250px; font-weight: 400">
              <li class="flexWrap" style="margin-top: 10px">
                <img
                        src="../img/base/map-marker.svg"
                        style="height: 24px; padding-right: 10px; margin-top: 6px"
                        alt=""
                />
                <div>
                  <p style="font-size: 1.3rem; line-height: 1;">地址</p>
                  <p style="font-size: 1rem; line-height: 1;">台北市中山區南京東路三段</p>
                </div>
              </li>

              <li class="flexWrap" style="margin-top: 10px">
                <img
                        src="../img/base/mail.svg"
                        style="height: 24px; padding-right: 10px; margin-top: 6px"
                        alt=""
                />
                <div>
                  <p style="font-size: 1.3rem; line-height: 1;">信箱</p>
                  <p style="font-size: 1rem; line-height: 1;">a1234567890@gmail.com</p>
                </div>
              </li>

              <li class="flexWrap" style="margin-top: 10px">
                <img
                        src="../img/base/phone.svg"
                        style="height: 24px; padding-right: 10px; margin-top: 6px"
                        alt=""
                />
                <div>
                  <p style="font-size: 1.3rem; line-height: 1;">連絡電話</p>
                  <p style="font-size: 1rem; line-height: 1;">0900123456</p>
                </div>
              </li>
            </div>
          </div>
        </ul>
        <ul class="col_33 flexHorizontalCenter footerMobile">
          <div style="width: 40%">
            <li
                    class="flexAllCenter"
                    style="color: #a4c964; font-size: 30px; height: 65px"
            >
              網站地圖
            </li>
            <div class="webMap">
              <li style="margin-top: 5px">
                <a class="webMapLink" href="/index">>首頁</a>
              </li>
              <li style="margin-top: 5px">
                <a class="webMapLink" href="/courseteacher/CourseVue.html"
                >>課程</a
                >
              </li>
              <li style="margin-top: 5px">
                <a class="webMapLink" href="/active/activeIndex.html"
                >>活動</a
                >
              </li>
              <li style="margin-top: 5px">
                <a class="webMapLink" href="/wish">>許願池</a>
              </li>
              <li style="margin-top: 5px">
                <a class="webMapLink" href="/bbsdiscuss/index.html?posttype=all">>論壇</a>
              </li>
              <li style="margin-top: 5px">
                <a class="webMapLink" href="/baseVer3/homepage.html">>商城</a>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </footer>


  </body>

</html>
