<!DOCTYPE html>
<html lang="en"xmlns="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous"
  />
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"
  ></script>


  <link href="../css/baseVer2.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet"
  />
  <script src="../jquery/jquery-3.6.4.min.js"></script>
  <script src="../js/base.js"></script>

  <style media="screen">
    *,
    *:before,
    *:after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }


    #myform {
      max-width: 540px;
      width: 400px;
      background: #3d8f32;
      margin: 10px auto;
      padding: 30px 35px;
      border-radius: 8px;
    }




    #myform {
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;

    }
    form h3 {
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
    }

    #password,#confirmpw
    {
      /*display: block;*/
      height: 50px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.363);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 20px;
      font-weight: 300;
    }
    #password,#confirmpw {
      /*display: block;*/
      height: 50px;
      width: 50%;
      background-color: #88f4ba;
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 20px;
      font-weight: 300;
    }

    ::placeholder {
      color: #b6b6b6;
    }

    #mail,#password,#confirmpw {
      margin-top: 20px;
      width: 100%;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
    }
    #mail:hover {
      color: #3d8f32;
    }

    .col-6 {
      text-align: center;
    }

    .input_block {
      display: flex;
      align-items: center;
    }

    .input_block input,
    .input_block canvas,
    .input_block button {
      margin-right: 10px;
    }


  </style>
  <title>重新設定密碼</title>
</head>
<body class="TeacherWanted">
<!-- 手機板導引列(粗糙) -->
<header class="TeacherWanted">
  <div id="mySidebar">
    <img src="../img/base/logo.png" alt="" />
    <a href="/index" class="">首頁</a>
    <a href="/courseteacher/CourseVue.html" class="">課程</a>
    <a href="/active/activeIndex.html" class="">活動</a>
    <a href="/wish" class="">許願池</a>
    <a href="/bbsdiscuss/index.html?posttype=all" class="">論壇</a>
    <a href="/baseVer3/homepage.html" class="">商城</a>
  </div>
  <div class="navBar">
    <ul class="containerHearder flexWrap flexVerticalCenter">
      <li>
        <img
                src="../img/base/menu.png"
                id="phoneMenu"
                class="mobileHave"
                style="height: 30px; margin: 10px"
                alt=""
        />
      </li>

      <li
              class="flexWrap flexAllCenter"
              style="font-size: 50px; color: #a4c964; margin: 10px 0px"
      >
        <img
                src="../img/base/logo.png"
                class="miniMobile"
                style="height: 50px; margin: 0px 5px"
                alt=""
        />
        <p>懸賞啼雀</p>
      </li>
      <li
              class="flexWrap"
              style="
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: end;
            "
      >
        <!-- 電腦版導引列 -->
        <div
                id="navLink"
                class="flexWrap flexAllCenter pcHave"
                style="flex-grow: 1"
        >
          <a class="flexAllCenter" href="/index">首頁</a>
          <a class="flexAllCenter" href="/courseteacher/CourseVue.html"
          >課程</a
          >
          <a class="flexAllCenter" href="/active/activeIndex.html">活動</a>
          <a class="flexAllCenter" href="/wish">許願池</a>
          <a class="flexAllCenter" href="/bbsdiscuss/index.html?posttype=all">論壇</a>
          <a class="flexAllCenter" href="/baseVer3/homepage.html">商城</a>
        </div>
        <div
                class="flexWrap flexAllCenter"
                style="position: relative; top: 2px"
        >
          <div class="miniMobile">
            <div id="navSearch" action="">
              <select id="serchType">
                <option value="課程">課程</option>
                <option value="活動">活動</option>
                <!-- <option value="商城">商城</option>
                <option value="許願">許願</option> -->
              </select>
              <input id="searchText" type="text" />
              <img id="searchIcon" src="../img/base/search.svg" alt="" />
            </div>
          </div>

          <img
                  src="../img/base/bell.svg"
                  id="navAnn"
                  class="miniMobile"
                  style="height: 30px; margin: 3px 5px; cursor: pointer"
                  alt=""
          />
          <img
                  src="../img/base/mailForNavbar.svg"
                  id="navMail"
                  class="miniMobile"
                  style="
                  height: 30px;
                  margin: 3px 5px;
                  cursor: pointer;
                  position: relative;
                  bottom: 1px;
                "
                  alt=""
          />
          <img
                  src="../img/base/shoppingCart.svg"
                  id="navShoppingcart"
                  class="miniMobile"
                  style="height: 30px; margin: 3px 5px; cursor: pointer"
                  alt=""
          />

          <!--登入按鈕 開始 -->

          <div id="loginOrUser"></div>
          <!-- 登入按鈕 結束 -->
        </div>
      </li>
    </ul>
  </div>
</header>




<main class="TeacherWanted">

  <form action="/reset_password" th:object="${user}" method="post" id="myform">
    <h3>重新設定密碼</h3>
    <br />
    <input type="hidden" name="token" th:value="${token}">
    <input type="password" placeholder="輸入新密碼" th:field="*{memPassword}" style="width: 80%" name="password" id="password" />
    <span id="togglePassword" style="margin-bottom: 10px"><img src="../img/base/eye-close.svg" width="30px"  alt="顯示密碼"></span>

    <br />
    <input type="password" placeholder="再次輸入新密碼" style="width: 80%" name="confirmpw" id="confirmpw" />
    <span id="toggleConfirmpassword" style="margin-bottom: 10px"><img src="../img/base/eye-close.svg" width="30px"  alt="顯示密碼"></span>

    <br />
    <br>

    <button type="submit" id="mail" value="Send">送出</button>

    <script >
      $(function () {
        $("#myform").on("submit", function (e) {
          if ( $("#password").val() !== $("#confirmpw").val() ) {
            e.preventDefault();
            alert("再次確認密碼與設定密碼不一致");
            return
          }
        });
      });
      $(document).ready(function() {
        $("#togglePassword").click(function() {
          var passwordInput = $("#password");
          var toggleIcon = $(this).find("img");

          if (passwordInput.attr("type") === "password") {
            passwordInput.attr("type", "text");
            toggleIcon.attr("src", "../img/base/eye-close.svg");
            toggleIcon.attr("alt", "隱藏密碼");
          } else {
            passwordInput.attr("type", "password");
            toggleIcon.attr("src", "../img/base/eye-open.svg");
            toggleIcon.attr("alt", "顯示密碼");
          }
        });
      });
      $(document).ready(function() {
        $("#toggleConfirmpassword").click(function() {
          var passwordInput = $("#confirmpw");
          var toggleIcon = $(this).find("img");

          if (passwordInput.attr("type") === "password") {
            passwordInput.attr("type", "text");
            toggleIcon.attr("src", "../img/base/eye-close.svg");
            toggleIcon.attr("alt", "隱藏密碼");
          } else {
            passwordInput.attr("type", "password");
            toggleIcon.attr("src", "../img/base/eye-open.svg");
            toggleIcon.attr("alt", "顯示密碼");
          }
        });
      });

    </script>

  </form>

  <!-- form end -->
  <div th:if="${message != null }">
    <script th:inline="javascript">
      alert([[${message}]]);
    </script>
  </div>




  <br><br><br>
</main>

<footer
        class="TeacherWanted"
        style="background-color: #3c6a36; color: white"
>
  <div
          class="containerFooter flexAllCenter"
          style="box-sizing: border-box; padding-top: 50px"
  >
    <div class="flexWrap">
      <ul class="col_33">
        <li class="flexAllCenter" style="color: #a4c964; font-size: 40px">
          懸賞啼雀
        </li>
        <li
                class="flexAllCenter"
                style="margin: 10px 30px; font-weight: normal"
        >
          現代⼈⽣活步相當緊湊，我們的課平台幫助各年齡層
          的⼈們學習，除了線上課也提供了家教的媒合。
          相信這裡的課程的多元性可促進學⽣的全⾯發展。
        </li>
        <li
                id="imgIcon"
                class="flexVerticalCenter"
                style="margin: 20px 30px"
        >
          <img src="../img/base/facebook.svg" class="imgIntroduce" alt="" />
          <img src="../img/base/twitter.svg" class="imgIntroduce" alt="" />
          <img
                  src="../img/base/instagram.svg"
                  class="imgIntroduce"
                  alt=""
          />
        </li>
      </ul>
      <ul class="col_33 flexHorizontalCenter footerMobile">
        <div style="width: 70%">
          <li
                  class="flexAllCenter"
                  style="color: #a4c964; font-size: 30px; height: 65px"
          >
            Get In Touch
          </li>
          <div class="" style="height: 250px; font-weight: 400">
            <li class="flexWrap" style="margin-top: 10px">
              <img
                      src="../img/base/map-marker.svg"
                      style="height: 24px; padding-right: 10px; margin-top: 6px"
                      alt=""
              />
              <div>
                <h3 style="font-size: 1.3rem">地址</h3>
                <h5 style="font-size: 1rem">台北市中山區南京東路三段</h5>
              </div>
            </li>

            <li class="flexWrap" style="margin-top: 10px">
              <img
                      src="../img/base/mail.svg"
                      style="height: 24px; padding-right: 10px; margin-top: 6px"
                      alt=""
              />
              <div>
                <h3 style="font-size: 1.3rem">信箱</h3>
                <h5 style="font-size: 1rem">a1234567890@gmail.com</h5>
              </div>
            </li>

            <li class="flexWrap" style="margin-top: 10px">
              <img
                      src="../img/base/phone.svg"
                      style="height: 24px; padding-right: 10px; margin-top: 6px"
                      alt=""
              />
              <div>
                <h3 style="font-size: 1.3rem">連絡電話</h3>
                <h5 style="font-size: 1rem">0900123456</h5>
              </div>
            </li>
          </div>
        </div>
      </ul>
      <ul class="col_33 flexHorizontalCenter footerMobile">
        <div style="width: 40%">
          <li
                  class="flexAllCenter"
                  style="color: #a4c964; font-size: 30px; height: 65px"
          >
            網站地圖
          </li>
          <div class="webMap">
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/index">>首頁</a>
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/courseteacher/CourseVue.html"
              >>課程</a
              >
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/active/activeIndex.html"
              >>活動</a
              >
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/wish">>許願池</a>
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/bbsdiscuss/index.html?posttype=all">>論壇</a>
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/baseVer3/homepage.html">>商城</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</script>

</body>
</html>
