<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>許願池</title>

  <!-- bootstrap相關 -->
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous"
  />
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
          crossorigin="anonymous"
  ></script>
  <!-- bootstrap相關 -->

  <link href="../css/baseVer2.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet"
  />
  <script src="../jquery/jquery-3.6.4.min.js"></script>
  <script src="../js/base.js"></script>
  <script src="../js/dropdown.js"></script>
</head>
<style>

  .container {
    width: 2000px;
    background-color: rgb(238, 245, 212);
  }
  .dropdown-toggle {
    position: relative;
  }

  .dropdown-toggle .arrow {
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
  }

  .dropdown.open .dropdown-menu {
    display: block;
  }

</style>
<body>

<header class="TeacherWanted">
  <div id="mySidebar">
    <img src="../img/base/logo.png" alt="" />
    <a href="/index" class="">首頁</a>
    <a href="/courseteacher/CourseVue.html" class="">課程</a>
    <a href="/active/activeIndex.html" class="">活動</a>
    <a href="/wish" class="">許願池</a>
    <a href="/bbsdiscuss/index.html?posttype=all" class="">論壇</a>
    <a href="/baseVer3/homepage.html" class="">商城</a>
  </div>
  <div class="navBar">
    <ul class="containerHearder flexWrap flexVerticalCenter">
      <li>
        <img
                src="../img/base/menu.png"
                id="phoneMenu"
                class="mobileHave"
                style="height: 30px; margin: 10px"
                alt=""
        />
      </li>

      <li
              class="flexWrap flexAllCenter"
              style="font-size: 50px; color: #a4c964; margin: 10px 0px"
      >
        <img
                src="../img/base/logo.png"
                class="miniMobile"
                style="height: 50px; margin: 0px 5px"
                alt=""
        />
        <p>懸賞啼雀</p>
      </li>
      <li
              class="flexWrap"
              style="
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: end;
            "
      >
        <!-- 電腦版導引列 -->
        <div
                id="navLink"
                class="flexWrap flexAllCenter pcHave"
                style="flex-grow: 1"
        >
          <a class="flexAllCenter" href="/index"><b>首頁</b></a>
          <a class="flexAllCenter" href="/courseteacher/CourseVue.html"
          ><b>課程</b></a
          >
          <a class="flexAllCenter" href="/active/activeIndex.html"><b>活動</b></a>
          <a class="flexAllCenter" href="/wish"><b>許願池</b></a>
          <a class="flexAllCenter" href="/bbsdiscuss/index.html"><b>論壇</b></a>
          <a class="flexAllCenter" href="/baseVer3/homepage.html"><b>商城</b></a>
        </div>
        <div
                class="flexWrap flexAllCenter"
                style="position: relative; top: 2px"
        >
          <div class="miniMobile">
            <div id="navSearch" action="">
              <select id="serchType">
                <option value="課程">課程</option>
                <option value="活動">活動</option>
                <!-- <option value="商城">商城</option>
                <option value="許願">許願</option> -->
              </select>
              <input id="searchText" type="text" />
              <img id="searchIcon" src="../img/base/search.svg" alt="" />
            </div>
          </div>

          <img
                  src="../img/base/bell.svg"
                  id="navAnn"
                  class="miniMobile"
                  style="height: 30px; margin: 3px 5px; cursor: pointer"
                  alt=""
          />
          <img
                  src="../img/base/mailForNavbar.svg"
                  id="navMail"
                  class="miniMobile"
                  style="
                  height: 30px;
                  margin: 3px 5px;
                  cursor: pointer;
                  position: relative;
                  bottom: 1px;
                "
                  alt=""
          />
          <img
                  src="../img/base/shoppingCart.svg"
                  id="navShoppingcart"
                  class="miniMobile"
                  style="height: 30px; margin: 3px 5px; cursor: pointer"
                  alt=""
          />

          <!--登入按鈕 開始 -->

          <div id="loginOrUser"></div>
          <!-- 登入按鈕 結束 -->
        </div>
      </li>
    </ul>
  </div>
</header>


<br>
<br>
<br>
<br>
<br>
<br>



  <div class="container">
    <div class="row" style="margin-bottom: 10px">
      <br>
      <br>
      <div class="col-3"></div>
      <div class="col-3" style="display: flex; align-items: center;">

          <p style="color: #3c6a36;font-size:30px;font-weight: bold;background-color: yellow;">今晚~我想學點...</p>

      </div>
      <div class="col-3" style="display: flex; flex-direction: column; align-items: flex-end; margin-top: 20px;">
        <img src="../img/wish/angel.png" width="200px" />
      </div>

      <div class="col-3"style="display: flex; align-items: center; color: #1c7430; font-size: 20px;font-weight: bold">
                <p >
                  這座許願池有個古老的傳說...
                  <br>
                  只要在此許下心願，
                  <br>
                  小天使就會替你找到適合的老師~
                </p>
      </div>

      <div class="col-4">
      </div>
      <div
              class="col-4"
              style="display: flex; justify-content: center; margin-bottom: 15px"
      >
        <img src="../img/wish/wish.png" alt="" width="250px" />
      </div>
      <div class="col-4">
      </div>


      <div class="col-4" style="display: flex; align-items: center">
<!--        <form action="/wish/search" method="get">-->
<!--          <input type="text" name="keyword" placeholder="請輸入關鍵字" style="-->
<!--            margin-left: 50px;-->
<!--            width: 200px;-->
<!--            height: 48px;-->
<!--            border-radius: 5px;-->
<!--            font-size: 20px;-->
<!--            border: 3px solid #a4c964;-->
<!--        "><button type="submit" style="-->

<!--            align-items: center;-->
<!--            font-size: 22px;-->
<!--            text-align: center;-->
<!--            color: black;-->
<!--            font-weight: bold;-->
<!--            background-color: #a4c964;-->
<!--            text-decoration: none;-->
<!--            width: 80px;-->
<!--            border-radius: 5px;-->
<!--            line-height: 50%;-->
<!--            height: 46px;-->
<!--            border: none;-->
<!--        ">搜尋</button>-->
<!--        </form>-->


      </div>

      <div class="col-4"></div>
      <div class="col-4">
        <a
                th:href="@{/wish/new}"
                class="postwish"
                style="

              align-items: center;
              margin-left: 45px;
              font-size: 22px;
              text-align: center;
              color: rgb(1, 47, 5);
              font-weight: bold;
              background-color: #a4c964;
              display: inline-block;
              text-decoration: none;
              width: 130px;
              border-radius: 5px;
              line-height: 55px;
              height: 56px;
            "
        >張貼許願</a
        >

        <a
                th:href="@{/mywish}"
                class="mywish"
                style="

              align-items: center;
              font-size: 22px;
              text-align: center;
              color: black;
              font-weight: bold;
              background-color: #a4c964;
              display: inline-block;
              text-decoration: none;
              width: 130px;
              border-radius: 5px;
              line-height: 55px;
              height: 56px;
              margin-left: 30px;
            "
        >我的許願</a
        >
      </div>
    </div>

    <br>
  </div>

<div th:if="${message != null}" class="popup">
  <script th:inline="javascript">
    alert([[${message}]]);
  </script>
</div>

<div>
  <table class="table table-stripe table-hover" style="width: 1320px; margin: 0 auto;">

    <thead >
        <tr class="success"
            style="
            text-align: center;
              font-weight: bold;
              font-size: 20px;
              background-color: green;
              color: white;
            ">
          <th>許願帳號</th>
          <th>許願科目</th>
          <th>上課地點</th>
          <th>人數</th>
          <th>上課時段</th>
          <th>時薪</th>
          <th>課程需求</th>
<!--          <th>聯絡信箱</th>-->

          <th></th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;
            text-align: center;">
      <th:block th:each="wish : ${listWish}">
       <tr>
         <td th:text="${wish.memAccount}"></td>
         <td>[[${wish.wishSubject}]]</td>
         <td>[[${wish.wishLocation}]]</td>
         <td>[[${wish.wishStudents}]]</td>
         <td>[[${wish.wishPeriod}]]</td>
         <td>[[${wish.wishSalary}]]</td>
         <td>[[${wish.wishContent}]]</td>
<!--         <td>[[${wish.wishEmail}]]</td>-->

         <td>

           <a
                  href="inboxmail/writeinbox.html"
                   class="mywish"
                   style="

              margin-left: 30px;
              align-items: center;
              font-size: 18px;
              text-align: center;
              color: green;
              font-weight: bold;
              display: inline-block;
              text-decoration: none;
              border-radius: 5px;
              line-height: 55px;
            "
           >站內信應徵</a
           >


         </td>
       </tr>
      </th:block>


      </tbody>
    </table>


  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer
        class="TeacherWanted"
        style="background-color: #3c6a36; color: white"
>
  <div
          class="containerFooter flexAllCenter"
          style="box-sizing: border-box; padding-top: 50px"
  >
    <div class="flexWrap">
      <ul class="col_33">
        <li class="flexAllCenter" style="color: #a4c964; font-size: 40px">
          懸賞啼雀
        </li>
        <li
                class="flexAllCenter"
                style="margin: 10px 30px; font-weight: normal"
        >
          現代⼈⽣活步相當緊湊，我們的課平台幫助各年齡層
          的⼈們學習，除了線上課也提供了家教的媒合。
          相信這裡的課程的多元性可促進學⽣的全⾯發展。
        </li>
        <li
                id="imgIcon"
                class="flexVerticalCenter"
                style="margin: 20px 30px"
        >
          <img src="../img/base/facebook.svg" class="imgIntroduce" alt="" />
          <img src="../img/base/twitter.svg" class="imgIntroduce" alt="" />
          <img
                  src="../img/base/instagram.svg"
                  class="imgIntroduce"
                  alt=""
          />
        </li>
      </ul>
      <ul class="col_33 flexHorizontalCenter footerMobile">
        <div style="width: 70%">
          <li
                  class="flexAllCenter"
                  style="color: #a4c964; font-size: 30px; height: 65px"
          >
            Get In Touch
          </li>
          <div class="" style="height: 250px; font-weight: 400">
            <li class="flexWrap" style="margin-top: 10px">
              <img
                      src="../img/base/map-marker.svg"
                      style="height: 24px; padding-right: 10px; margin-top: 6px"
                      alt=""
              />
              <div>
                <h3 style="font-size: 1.3rem">地址</h3>
                <h5 style="font-size: 1rem">台北市中山區南京東路三段</h5>
              </div>
            </li>

            <li class="flexWrap" style="margin-top: 10px">
              <img
                      src="../img/base/mail.svg"
                      style="height: 24px; padding-right: 10px; margin-top: 6px"
                      alt=""
              />
              <div>
                <h3 style="font-size: 1.3rem">信箱</h3>
                <h5 style="font-size: 1rem">a1234567890@gmail.com</h5>
              </div>
            </li>

            <li class="flexWrap" style="margin-top: 10px">
              <img
                      src="../img/base/phone.svg"
                      style="height: 24px; padding-right: 10px; margin-top: 6px"
                      alt=""
              />
              <div>
                <h3 style="font-size: 1.3rem">連絡電話</h3>
                <h5 style="font-size: 1rem">0900123456</h5>
              </div>
            </li>
          </div>
        </div>
      </ul>
      <ul class="col_33 flexHorizontalCenter footerMobile">
        <div style="width: 40%">
          <li
                  class="flexAllCenter"
                  style="color: #a4c964; font-size: 30px; height: 65px"
          >
            網站地圖
          </li>
          <div class="webMap">
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/index">>首頁</a>
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/courseteacher/CourseVue.html"
              >>課程</a
              >
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/active/activeIndex.html"
              >>活動</a
              >
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/wish">>許願池</a>
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/bbsdiscuss/index.html?posttype=all">>論壇</a>
            </li>
            <li style="margin-top: 5px">
              <a class="webMapLink" href="/baseVer3/homepage.html">>商城</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</footer>

</script>
</body>
</html>