<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="easyLogin">
      <div class="loginText">學生{{ loginText }}</div>
      <input type="text" v-model="studentName" />

      <button><a v-on:click="submitStudentLogin">送出</a></button>
      <div class="loginText">教師{{ loginText }}</div>
      <input type="text" v-model="teacherName" />
      <button><a v-on:click="submitTeacherLogin">送出</a></button>

      <br />
      <button><a v-on:click="submitAllLogout">全部登出</a></button>
    </div>

    <script>
      var inputValue;
      const easyLogin = Vue.createApp({
        data() {
          return {
            loginText: "登入",
            studentName: "",
            teacherName: "",
          };
        },
        methods: {
          submitStudentLogin,
          submitTeacherLogin,
          submitAllLogout,
        },
      });
      console.log("輸入的值:", inputValue);
      easyLogin.mount("#easyLogin");

      function submitAllLogout() {
        axios
          .get("/activeAllLogout", {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((res) => {
            return res.data;
          })
          .then((data) => {
            if (data == "全部都以登出") {
              alert("全部都以登出");
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }

      function submitStudentLogin() {
        // 獲取 input 的值
        inputValue = this.studentName;
        console.log("輸入的值:", inputValue);

        let memberId = inputValue;

        axios
          .post("/activeLogin", memberId, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response) => {
            console.log(response); // 處理回應物件
            return response.data; // 將回應資料傳遞給下一個then方法
          })
          .then((data) => {
            console.log(data); // 處理回應資料
            if (data == "會員登入成功") {
              window.location.href = "/active/activeIndex.html";
            }
          })
          .catch((error) => {
            console.error(error);
          });
      }

      function submitTeacherLogin() {
        // 獲取 input 的值
        inputValue = this.teacherName;
        console.log("輸入的值:", inputValue);

        let teaId = inputValue;

        axios
          .post("/activeBackLogin", teaId, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response) => {
            console.log(response); // 處理回應物件
            return response.data; // 將回應資料傳遞給下一個then方法
          })
          .then((data) => {
            console.log(data); // 處理回應資料
            if (data == "管理員登入成功") {
              window.location.href = "/active/activeBack.html";
            }
          })
          .catch((error) => {
            console.error(error);
          });
      }
    </script>
  </body>
</html>
