<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap相關 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap相關 -->
    <!-- vue與axios -->
    <script src="../js/courseJS/vue.js"></script>
    <script src="../js/courseJS/axios.min.js"></script>
    <!-- vue與axios -->
    <link href="../css/course/baseVer2.css" rel="stylesheet" type="text/css" />
    <link href="../css/course/course.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script src="../jquery/jquery-3.6.4.min.js"></script>
    <script src="../js/courseJS/base.js"></script>
    <title>Document</title>
  </head>
  <body class="TeacherWanted">
    <!-- 手機板導引列(粗糙) -->
    <header class="TeacherWanted">
      <div id="mySidebar">
        <img src="../img/base/logo.png" alt="" />
        <a href="#" class="">首頁</a>
        <a href="#" class="">課程</a>
        <a href="#" class="">活動</a>
        <a href="#" class="">許願池</a>
        <a href="#" class="">論壇</a>
        <a href="#" class="">商城</a>
      </div>
      <div class="navBar">
        <ul class="containerHearder flexWrap flexVerticalCenter">
          <li>
            <img
              src="../img/base/menu.png"
              id="phoneMenu"
              class="mobileHave"
              style="height: 30px; margin: 10px"
              alt=""
            />
          </li>

          <li
            class="flexWrap flexAllCenter"
            style="font-size: 50px; color: #a4c964; margin: 10px 0px"
          >
            <img
              src="../img/base/logo.png"
              class="miniMobile"
              style="height: 50px; margin: 0px 5px"
              alt=""
            />
            <p>懸賞啼雀</p>
          </li>
          <li
            class="flexWrap"
            style="
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: end;
            "
          >
            <!-- 電腦版導引列 -->
            <div
              id="navLink"
              class="flexWrap flexAllCenter pcHave"
              style="flex-grow: 1"
            >
              <a class="flexAllCenter" href="">首頁</a>
              <a class="flexAllCenter" href="">課程</a>
              <a class="flexAllCenter" href="">活動</a>
              <a class="flexAllCenter" href="">許願池</a>
              <a class="flexAllCenter" href="">論壇</a>
              <a class="flexAllCenter" href="">商城</a>
            </div>
            <div
              class="flexWrap flexAllCenter"
              style="position: relative; top: 2px"
            >
              <div id="searchHead" class="miniMobile">
                <form
                  id="navSearch"
                  ref="navSearch"
                  @submit.prevent="handleSearch"
                >
                  <select v-model="category">
                    <option>課程</option>
                    <option>活動</option>
                    <option>商城</option>
                    <option>許願</option>
                  </select>
                  <input type="text" v-model="keyword" />
                  <img
                    src="../img/base/search.svg"
                    alt=""
                    id="searchButton"
                    @click="handleSearch"
                  />
                </form>
              </div>
              <img
                src="../img//base/mailForNavbar.svg"
                class="miniMobile"
                style="
                  height: 30px;
                  margin: 3px 5px;
                  cursor: pointer;
                  position: relative;
                  bottom: 1px;
                "
                alt=""
              />
              <img
                src="../img/base/shoppingCart.svg"
                class="miniMobile"
                style="height: 30px; margin: 3px 5px; cursor: pointer"
                alt=""
              />
              <img
                src="../img/base/bell.svg"
                class="miniMobile"
                style="height: 30px; margin: 3px 5px; cursor: pointer"
                alt=""
              />

              <a class="btnCss flexAllCenter" style="color: white" href=""
                >登入</a
              >
            </div>
          </li>
        </ul>
      </div>
    </header>

    <main class="TeacherWanted">
      <!-- ！！！寫在這裡！！！
      如果要讓區塊至中的話可以使用containerBase這個class(目前寬度1140px) -->
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item"
            v-for="(course, index) in coursesWithPhotoUrl"
            :class="{ 'active': index === 0 }"
            :key="index"
            @click="handleClick(course)"
          >
            <img
              :src="course.coursePhotoUrl"
              alt=""
              style="
                height: 300px;
                display: block;
                margin-left: auto;
                margin-right: auto;
              "
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- 精選課程 -->
      <div class="ver2">
        <div id="app">
          <div class="container">
            <div>精選課程<span class="more">更多課程></span></div>
            <ul class="item_list">
              <li
                v-for="(course, i) in coursesWithPhotoUrl"
                :key="i"
                @click="handleClick(course)"
              >
                <div class="img_block">
                  <img :src="course.coursePhotoUrl" alt="" />
                </div>
                <div class="col">{{ course.courseName }}</div>
                <div class="col" style="color: #3fb652">
                  NT{{ course.coursePrice }}
                </div>
                <div class="col">{{ getTeacherName(course.teaId) }}</div>
                <div class="col">
                  {{ course.boughtCount }}人<span class="more"
                    >{{ course.courseLength }}小時</span
                  >
                </div>
                <div class="col">
                  <span class="star" data-star="1"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="2"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="3"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="4"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="5"
                    ><i class="fas fa-star"></i
                  ></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="life">
        <div class="container">
          <div>生活<span class="more">更多課程></span></div>
          <ul class="item_list">
            <li
              v-for="(course, i) in coursesWithPhotoUrl"
              :key="i"
              @click="handleClick(course)"
            >
              <div class="img_block">
                <img :src="course.coursePhotoUrl" alt="" />
              </div>
              <div class="col">{{ course.courseName }}</div>
              <div class="col" style="color: #3fb652">
                NT{{ course.coursePrice }}
              </div>
              <div class="col">{{ getTeacherName(course.teaId) }}</div>
              <div class="col">
                {{ course.boughtCount }}人<span class="more"
                  >{{ course.courseLength }}小時</span
                >
              </div>
              <div class="col">
                <span class="star" data-star="1"
                  ><i class="fas fa-star"></i
                ></span>
                <span class="star" data-star="2"
                  ><i class="fas fa-star"></i
                ></span>
                <span class="star" data-star="3"
                  ><i class="fas fa-star"></i
                ></span>
                <span class="star" data-star="4"
                  ><i class="fas fa-star"></i
                ></span>
                <span class="star" data-star="5"
                  ><i class="fas fa-star"></i
                ></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="ver2">
        <div id="programming">
          <div class="container">
            <div>程式語言<span class="more">更多課程></span></div>
            <ul class="item_list">
              <li
                v-for="(course, i) in coursesWithPhotoUrl"
                :key="i"
                @click="handleClick(course)"
              >
                <div class="img_block">
                  <img :src="course.coursePhotoUrl" alt="" />
                </div>
                <div class="col">{{ course.courseName }}</div>
                <div class="col" style="color: #3fb652">
                  NT{{ course.coursePrice }}
                </div>
                <div class="col">{{ getTeacherName(course.teaId) }}</div>
                <div class="col">
                  {{ course.boughtCount }}人<span class="more"
                    >{{ course.courseLength }}小時</span
                  >
                </div>
                <div class="col">
                  <span class="star" data-star="1"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="2"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="3"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="4"
                    ><i class="fas fa-star"></i
                  ></span>
                  <span class="star" data-star="5"
                    ><i class="fas fa-star"></i
                  ></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <script>
      const bus = new Vue();
      const courseDetailMixin = {
        methods: {
          handleClick(course) {
            const courseId = course.courseId;
            const targetUrl = `./CourseDetailVue.html?courseId=${courseId}`;
            window.location.href = targetUrl;
          },
          getTeacherName(teaId) {
            const teacher = this.teachers.find(
              (teacher) => teacher.teaId === teaId
            );
            return teacher ? teacher.teaName : "";
          },
        },
      };

      new Vue({
        el: "#app",
        data() {
          return {
            courses: [],
            teachers: [],
          };
        },
        computed: {
          coursesWithPhotoUrl() {
            return this.courses.map((course) => ({
              ...course,
              coursePhotoUrl: `data:image/png;base64,${course.coursePhoto1}`,
            }));
          },
          teachersWithPhotoUrl() {
            return this.teachers.map((teacher) => ({
              ...teacher,
              teaPhotoUrl: `data:image/png;base64,${teacher.teaPhoto}`,
            }));
          },
        },
        methods: {},
        mixins: [courseDetailMixin],

        mounted() {
          axios
            .get("http://localhost:8080/courses")
            .then((coursesResponse) => {
              this.courses = coursesResponse.data;
              console.log(this.courses);
              // 添加其他請求
              return axios.get("http://localhost:8080/teachers");
            })
            .then((teachersResponse) => {
              // 第二個請求
              this.teachers = teachersResponse.data;
              console.log(this.teachers);
              // 儲存數據
              bus.$on("search-results", (searchResults) => {
                this.courses = searchResults; // 更新 courses 数组
                console.log(this.courses);
              });
            })
            .catch((error) => {
              console.error(error);
            });
        },
      });
      new Vue({
        el: "#life",
        data() {
          return {
            courses: [],
            teachers: [],
          };
        },
        computed: {
          coursesWithPhotoUrl() {
            return this.courses.map((course) => ({
              ...course,
              coursePhotoUrl: `data:image/png;base64,${course.coursePhoto1}`,
            }));
          },
          teachersWithPhotoUrl() {
            return this.teachers.map((teacher) => ({
              ...teacher,
              teaPhotoUrl: `data:image/png;base64,${teacher.teaPhoto}`,
            }));
          },
        },
        methods: {},
        mixins: [courseDetailMixin],

        mounted() {
          axios
            .get("http://localhost:8080/courses?category=LIFE")
            .then((coursesResponse) => {
              this.courses = coursesResponse.data;
              console.log(this.courses);
              // 添加其他請求
              return axios.get("http://localhost:8080/teachers");
            })
            .then((teachersResponse) => {
              // 第二個請求
              this.teachers = teachersResponse.data;
              console.log(this.teachers);
              // 儲存數據
              bus.$on("search-results", (searchResults) => {
                this.courses = searchResults; // 更新 courses 数组
                console.log(this.courses);
              });
            })
            .catch((error) => {
              console.error(error);
            });
        },
      });
      new Vue({
        el: "#programming",
        data() {
          return {
            courses: [],
            teachers: [],
          };
        },
        computed: {
          coursesWithPhotoUrl() {
            return this.courses.map((course) => ({
              ...course,
              coursePhotoUrl: `data:image/png;base64,${course.coursePhoto1}`,
            }));
          },
          teachersWithPhotoUrl() {
            return this.teachers.map((teacher) => ({
              ...teacher,
              teaPhotoUrl: `data:image/png;base64,${teacher.teaPhoto}`,
            }));
          },
        },
        methods: {},
        mixins: [courseDetailMixin],

        mounted() {
          axios
            .get("http://localhost:8080/courses?category=PROGRAMMING")
            .then((coursesResponse) => {
              this.courses = coursesResponse.data;
              console.log(this.courses);
              // 添加其他請求
              return axios.get("http://localhost:8080/teachers");
            })
            .then((teachersResponse) => {
              // 第二個請求
              this.teachers = teachersResponse.data;
              console.log(this.teachers);
              // 儲存數據
              bus.$on("search-results", (searchResults) => {
                this.courses = searchResults; // 更新 courses 数组
                console.log(this.courses);
              });
            })
            .catch((error) => {
              console.error(error);
            });
        },
      });
      new Vue({
        el: "#searchHead",
        data() {
          return {
            keyword: "",
            category: "課程",
          };
        },
        methods: {
          handleSearch() {
            const params = new URLSearchParams();
            params.append("keyword", this.keyword);
            params.append("category", this.category);

            const url = `http://localhost:8080/courses/${this.keyword}`;
            const urlResult = `./CourseSearchRsVue.html?${params.toString()}`;
            window.location.href = urlResult;

            axios
              .get(url)
              .then((response) => {
                // 更新 courses 數組
                bus.$emit("search-results", response.data);
                console.log(this.courses);
              })
              .catch((error) => {
                console.error(error);
              });
          },
        },
      });
      new Vue({
        el: "#carouselExampleControls",
        data() {
          return {
            courses: [],
          };
        },
        computed: {
          coursesWithPhotoUrl() {
            return this.courses.map((course) => ({
              ...course,
              coursePhotoUrl: `data:image/png;base64,${course.coursePhoto1}`,
            }));
          },
        },
        mixins: [courseDetailMixin],
        mounted() {
          axios
            .get("http://localhost:8080/courses")
            .then((coursesResponse) => {
              this.courses = coursesResponse.data;
              console.log(this.courses);
            })
            .catch((error) => {
              console.error(error);
            });
        },
      });
    </script>
    <footer
      class="TeacherWanted"
      style="background-color: #3c6a36; color: white"
    >
      <div
        class="containerFooter flexAllCenter"
        style="box-sizing: border-box; padding-top: 50px"
      >
        <div class="flexWrap">
          <ul class="col_33">
            <li class="flexAllCenter" style="color: #a4c964; font-size: 40px">
              懸賞啼雀
            </li>
            <li
              class="flexAllCenter"
              style="margin: 10px 30px; font-weight: normal"
            >
              Labore dolor amet ipsum ea, erat sit ipsum duo eos. Volup amet ea
              dolor et magna dolor, elitr rebum duo est sed diam elitr. Stet
              elitr stet diam duo eos rebum ipsum diam ipsum elitr.
            </li>
            <li
              id="imgIcon"
              class="flexVerticalCenter"
              style="margin: 20px 30px"
            >
              <img src="../img/base/facebook.svg" class="imgIntroduce" alt="" />
              <img src="../img/base/twitter.svg" class="imgIntroduce" alt="" />
              <img
                src="../img/base/instagram.svg"
                class="imgIntroduce"
                alt=""
              />
            </li>
          </ul>
          <ul class="col_33 flexHorizontalCenter footerMobile">
            <div style="width: 70%">
              <li
                class="flexAllCenter"
                style="color: #a4c964; font-size: 30px; height: 65px"
              >
                Get In Touch
              </li>
              <div class="" style="height: 250px; font-weight: 400">
                <li class="flexWrap" style="margin-top: 10px">
                  <img
                    src="../img/base/map-marker.svg"
                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                    alt=""
                  />
                  <div>
                    <h3 style="font-size: 1.3rem">地址</h3>
                    <h5 style="font-size: 1rem">123</h5>
                  </div>
                </li>

                <li class="flexWrap" style="margin-top: 10px">
                  <img
                    src="../img/base/mail.svg"
                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                    alt=""
                  />
                  <div>
                    <h3 style="font-size: 1.3rem">信箱</h3>
                    <h5 style="font-size: 1rem">a1234567890@gmail.com</h5>
                  </div>
                </li>

                <li class="flexWrap" style="margin-top: 10px">
                  <img
                    src="../img/base/phone.svg"
                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                    alt=""
                  />
                  <div>
                    <h3 style="font-size: 1.3rem">連絡電話</h3>
                    <h5 style="font-size: 1rem">0900123456</h5>
                  </div>
                </li>
              </div>
            </div>
          </ul>
          <ul class="col_33 flexHorizontalCenter footerMobile">
            <div style="width: 40%">
              <li
                class="flexAllCenter"
                style="color: #a4c964; font-size: 30px; height: 65px"
              >
                網站地圖
              </li>
              <div class="webMap">
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="">>首頁</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="">>課程</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="">>活動</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="">>許願池</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="">>論壇</a>
                </li>
                <li style="margin-top: 5px">
                  <a class="webMapLink" href="">>商城</a>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
