<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 加上 viewport 的設定 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <title>懸賞啼雀後台</title>
    <!-- backindex的css連結 -->
    <link rel="stylesheet" href="../css/course/back.css" />

    <link rel="stylesheet" href="../css/course/courseBackEdit.css" />

    <!-- Bootstrap 連結1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <!-- 表格的 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <!-- JQuery連結 -->
    <script src="../jquery/jquery-3.6.4.min.js"></script>

    <!-- vue與axios -->
    <script src="../js/courseJS/vue.js"></script>
    <script src="../js/courseJS/axios.min.js"></script>
    <!-- vue與axios -->
    <!-- 上稿器連結 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <!-- 設定字體 -->
    <!-- 可從這邊調整https://fonts.google.com/share?selection.family=DotGothic16%7CNoto%20Sans%20TC:wght@100;300;400;500;700;900 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <div class="container-all">
      <div class="container-left" id="accordion">
        <nav id="sidebar">
          <div class="div1">
            <div class="divtitle">懸賞啼雀</div>
          </div>
          <hr />
          <ul class="list-unstyled">
            <!-- =========這邊用check.js放入=============== -->
          </ul>
        </nav>
      </div>

      <!-- 右邊： -->
      <div class="container-right">
        <!-- 右邊的導航欄 -->
        <!-- =========這邊用check.js放入=============== -->
        <div id="main" class="main">
          <!--主體文字1  -->

          <!-- ====================主要區========================== -->
          <div class="containerActiveEdit">
            <div class="activeBackEditBk">
              <div class="flexVerticalCenter activeBackTitle">
                <p style="font-size: 2rem">編輯課程</p>
              </div>
              <div class="containerActiveEdit" style="padding: 20px 10px">
                <!-- 表單 開始 -->
                <div class="flexWrap oneArea">
                  <!-- 左半部分 開始 -->
                  <div class="col_50 left_col">
                    <!-- 課程名稱 類型 開始 -->
                    <section class="oneActiveEdit">
                      <div>
                        <h6>課程名稱</h6>
                      </div>
                      <div class="flexVerticalCenter">
                        <input
                          id="courseName"
                          type="text"
                          v-model="courseName"
                        />
                      </div>
                      <div><h6>類型</h6></div>
                      <div class="flexVerticalCenter">
                        <select
                          name=""
                          id="courseCategoryId"
                          v-model="courseCategoryId"
                        >
                          <option value="1">語言</option>
                          <option value="2">生活</option>
                          <option value="3">程式語言</option>
                          <option value="4">音樂</option>
                          <option value="5">美術</option>
                          <option value="6">運動</option>
                          <option value="7">未填</option>
                        </select>
                      </div>
                    </section>
                    <!-- 課程名稱 類型 結束 -->

                    <!-- 課程時數 觀看期限 課程價格 開始-->
                    <div class="flexWrap flexSpaceBetween">
                      <!-- 課程時數 開始 -->
                      <section class="oneActiveEdit col_33">
                        <div><h6>課程時數(小時)</h6></div>
                        <div class="flexVerticalCenter">
                          <input
                            id="courseLength"
                            type="text"
                            v-model="courseLength"
                          />
                        </div>
                      </section>
                      <!-- 課程時數 結束 -->
                      <!-- 觀看期限 開始 -->
                      <section class="oneActiveEdit col_33">
                        <div><h6>觀看期限(月)</h6></div>
                        <div class="flexVerticalCenter">
                          <input
                            id="coolingOffPeriod"
                            type="text"
                            v-model="coolingOffPeriod"
                          />
                        </div>
                      </section>
                      <!-- 觀看期限 結束 -->
                      <!-- 課程價格 開始 -->
                      <section class="oneActiveEdit col_33">
                        <div><h6>課程價格(台幣)</h6></div>
                        <div class="flexVerticalCenter">
                          <input
                            id="coursePrice"
                            type="text"
                            v-model="coursePrice"
                          />
                        </div>
                      </section>
                      <!-- 課程價格 結束 -->
                    </div>
                    <!-- 課程時數 觀看期限 課程價格 結束-->
                    <!-- 課程介紹 開始 -->
                    <section class="oneActiveEdit lastArea">
                      <div><h6>課程介紹</h6></div>
                      <div class="editor">
                        <textarea
                          name="content"
                          id="editor1"
                          v-model="courseDetail"
                        ></textarea>
                      </div>
                    </section>
                    <!-- 課程介紹 結束 -->
                    <!-- 課前準備 開始 -->
                    <section class="oneActiveEdit lastArea">
                      <div><h6>課前準備</h6></div>
                      <div class="editor">
                        <textarea
                          name="content"
                          id="editor2"
                          v-model="coursePre"
                        ></textarea>
                      </div>
                    </section>
                    <!-- 課前準備 結束 -->
                  </div>
                  <!-- 左半部分 結束 -->

                  <!-- 右半部分 開始 -->
                  <div class="col_50">
                    <!-- 課程圖片 開始 -->
                    <section class="oneActiveEdit">
                      <div><h6>課程圖片</h6></div>
                      <div class="flexVerticalCenter">
                        <input
                          type="file"
                          class="upload"
                          accept="image/*"
                          multiple
                          @change="handleImageUpload('.upload', 'coursePhotos', $event)"
                        />
                      </div>
                      <div
                        class="preview"
                        data-preview="preview1"
                        style="
                          height: 220px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <img
                          :src="coursePhotoUrl1"
                          alt=""
                          style="object-fit: contain; width: 100%; height: 100%"
                        />
                      </div>
                      <div
                        class="preview"
                        data-preview="preview2"
                        style="
                          height: 220px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <img
                          :src="coursePhotoUrl2"
                          alt=""
                          style="object-fit: contain; width: 100%; height: 100%"
                        />
                      </div>
                      <div
                        class="preview"
                        data-preview="preview3"
                        style="
                          height: 220px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        "
                      >
                        <img
                          :src="coursePhotoUrl3"
                          alt=""
                          style="object-fit: contain; width: 100%; height: 100%"
                        />
                      </div>
                    </section>
                    <!-- 課程圖片 結束 -->
                  </div>
                  <!-- 右半部分 結束 -->
                  <!-- 表單 結束 -->
                  <div class="flexAllCenter submitActiveAdd">
                    <p
                      class="flexAllCenter"
                      id="submitActiveAddBtn"
                      @click="toEditChapter"
                    >
                      修改章節
                    </p>
                    <p
                      class="flexAllCenter"
                      id="submitActiveAddBtn"
                      @click="goBack"
                    >
                      取消
                    </p>
                    <p
                      class="flexAllCenter"
                      id="submitActiveAddBtn"
                      @click="updateCourse"
                    >
                      修改
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ===================================================== -->
        </div>
      </div>
    </div>
    <!-- FontAwesome 連結 -->
    <script
      src="https://kit.fontawesome.com/664595efd5.js"
      crossorigin="anonymous"
    ></script>
    <!-- JQuery連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- backindex的JS連結 -->
    <script src="../js/courseJS/backindex.js"></script>
    <!-- Bootstrap 連結2 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- table連結 -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const courseId = urlParams.get("courseId");
      const adminData = JSON.parse(sessionStorage.getItem("adminStorage"));
      if (adminData != null) {
        var teaId = adminData.teaId;
      }
      if (adminData == null) {
        var teaId = null;
      }
      new Vue({
        el: "#main",
        data() {
          return {
            course: {}, // 假設course是您的查詢結果對象
            selectedUploadType: "local",
            courseName: this.courseName,
            courseCategoryId: this.courseCategoryId,
            courseDetail: "",
            coursePre: "",
            coursePrice: this.coursePrice,
            courseLength: this.courseLength,
            coolingOffPeriod: this.coolingOffPeriod,
            coursePhotos: {
              coursePhoto1: null,
              coursePhoto2: null,
              coursePhoto3: null,
            },
            chapterOrder: "",
            chapterTitle: "",
            index: 0,
            chapters: [], // Array to store dynamic chapters
            chapterPhoto: null,
            chapterFile: null,
            //回傳資訊
            coursePhotoUrl1: null,
            coursePhotoUrl2: null,
            coursePhotoUrl3: null,
            chapterTitle: this.chapterTitle,
            chapterPhotoUrls: [],
          };
        },
        computed: {
          categoryOptions() {
            // 将选项值映射为整数值
            const optionsMap = {
              1: 1,
              2: 2,
              3: 3,
              4: 4,
            };
            // 返回选中选项的整数值
            return optionsMap[this.courseCategoryId];
          },
        },
        mounted() {
          //依courseId查詢課程
          axios
            .get("http://localhost:8080/course/" + courseId)
            .then((courseResponse) => {
              this.course = courseResponse.data;
              console.log(this.course);
              this.courseName = this.course.courseName;
              this.courseCategoryId = this.course.courseCategoryId;
              this.courseDetail = this.course.courseDetail || ""; // 转换为默认值;
              this.coursePre = this.course.coursePre || ""; // 转换为默认值;
              this.coursePrice = this.course.coursePrice;
              this.courseLength = this.course.courseLength;
              this.coolingOffPeriod = this.course.coolingOffPeriod;
              this.coursePhotoUrl1 = `data:image/png;base64,${this.course.coursePhoto1}`;
              this.coursePhotoUrl2 = `data:image/png;base64,${this.course.coursePhoto2}`;
              this.coursePhotoUrl3 = `data:image/png;base64,${this.course.coursePhoto3}`;

              //上稿器
              ClassicEditor.create(document.querySelector("#editor1"))
                .then((newEditor) => {
                  newEditor.setData(this.courseDetail); // 将初始值设置到编辑器中
                  newEditor.model.document.on("change:data", () => {
                    this.courseDetail = newEditor.getData(); // 更新courseDetail属性的值
                  });
                })
                .catch((error) => {
                  console.error(error);
                });
              //上稿器
              ClassicEditor.create(document.querySelector("#editor2"))
                .then((newEditor) => {
                  newEditor.setData(this.coursePre); // 将初始值设置到编辑器中
                  newEditor.model.document.on("change:data", () => {
                    this.coursePre = newEditor.getData(); // 更新coursePre属性的值
                  });
                })
                .catch((error) => {
                  console.error(error);
                });
              axios
                .get("http://localhost:8080/chapters/" + courseId)
                .then((chapterResponse) => {
                  // 第二个请求成功的处理逻辑
                  this.chapters = chapterResponse.data;
                  console.log(this.chapters);
                  this.chapterTitle = this.chapters[0].chapterTitle;
                  this.index = this.chapters.length - 1; //依照查詢筆數設定下方顯示筆數
                  // Clear the chapterPhotoUrls array before adding new values
                  this.chapterPhotoUrls = [];
                  // Iterate through each chapter and add the corresponding image URL to the array
                  this.chapters.forEach((chapter) => {
                    const chapterPhotoUrl = `data:image/png;base64,${chapter.chapterPhoto}`;
                    this.chapterPhotoUrls.push(chapterPhotoUrl);
                  });
                })
                .catch((error) => {
                  // 第二个请求失败的处理逻辑
                  console.error(error);
                });
            })
            .catch((error) => {
              console.error(error);
            });

          // 調用handleImageUpload方法
          this.$nextTick(() => {
            this.handleImageUpload(".upload", ".preview", "coursePhoto");
          });
        },

        methods: {
          toEditChapter() {
            const targetUrl = `./EditChapters.html?courseId=${courseId}`;
            window.location.href = targetUrl;
          },
          goBack() {
            window.history.back(); // 返回上一页
          },
          addChapter() {
            this.chapters.push({ chapterTitle: "", chapterVideo: null });
          },
          removeChapter() {
            this.chapters.pop();
          },
          resetFields() {
            if (confirm("確認清空嗎？")) {
              location.reload();
            }
          },
          createCourse() {
            if (confirm("確認修改課程嗎？")) {
              const data = {
                courseName: this.courseName,
                courseCategoryId: this.courseCategoryId,
                courseDetail: this.editor1.getData(),
                coursePre: this.editor2.getData(),
                coursePrice: this.coursePrice,
                courseLength: this.courseLength,
                coolingOffPeriod: this.coolingOffPeriod,
                coursePhoto1: this.coursePhotos.coursePhoto1,
                coursePhoto2: this.coursePhotos.coursePhoto2,
                coursePhoto3: this.coursePhotos.coursePhoto3,
              };
              console.log(data);

              axios
                .post("http://localhost:8080/courses", data)
                .then((response) => {
                  const courseId = response.data.courseId; // 获取courseId
                  console.log(response.data);

                  // 创建一个FormData对象;
                  const formData = new FormData();
                  formData.append("courseId", courseId); // 将courseId作为URL参数
                  this.chapters.forEach((chapter, index) => {
                    // 添加章節相關資訊到 FormData
                    formData.append("chapterOrder", index + 1);
                    formData.append("chapterTitle", chapter.chapterTitle);
                    formData.append("chapterLink", chapter.chapterLink);

                    // 檢查章節相片是否存在，存在則添加到 FormData
                    if (chapter.chapterPhoto) {
                      formData.append(
                        "chapterPhoto",
                        chapter.chapterPhoto,
                        chapter.chapterPhoto.name
                      );
                    }

                    // 檢查章節文件是否存在，存在則添加到 FormData
                    if (chapter.chapterFile) {
                      formData.append(
                        "chapterFile",
                        chapter.chapterFile,
                        chapter.chapterFile.name
                      );
                    }
                  });
                  console.log(formData);
                  return axios.post(
                    "http://localhost:8080/chapters",
                    formData,
                    {
                      headers: {
                        "Content-Type": "multipart/form-data",
                      },
                    }
                  );
                })
                .then((secondResponse) => {
                  console.log(secondResponse.data);
                  // 第二个请求成功后的处理逻辑
                  alert("課程修改成功！");
                })
                .catch((error) => {
                  console.error(error);
                  // 请求失败后的处理逻辑
                  alert("修改失敗，請重試！！");
                });
            }
          },
          updateCourse() {
            if (confirm("確認修改課程嗎？")) {
              // const coursePhoto1 = this.coursePhotos.coursePhoto1 ? this.coursePhotos.coursePhoto1 : this.course.coursePhoto1;
              // const coursePhoto2 = this.coursePhotos.coursePhoto2 ? this.coursePhotos.coursePhoto2 : this.course.coursePhoto2;
              // const coursePhoto3 = this.coursePhotos.coursePhoto3 ? this.coursePhotos.coursePhoto3 : this.course.coursePhoto3;

              const data = {
                courseName: this.courseName,
                courseCategoryId: this.courseCategoryId,
                courseDetail: this.courseDetail,
                coursePre: this.coursePre,
                coursePrice: this.coursePrice,
                courseLength: this.courseLength,
                coolingOffPeriod: this.coolingOffPeriod,
                teaId: teaId,
                updateTime: new Date(),
                coursePhoto1: this.coursePhotos.coursePhoto1,
                coursePhoto2: this.coursePhotos.coursePhoto2,
                coursePhoto3: this.coursePhotos.coursePhoto3,
              };
              console.log(data);

              axios
                .put("http://localhost:8080/courses/" + courseId, data)
                .then((response) => {
                  console.log(response.data);
                })
                .catch((error) => {
                  console.error(error);
                  // 请求失败后的处理逻辑
                  alert("修改失敗，請重試！！");
                });
            }
          },
          //上傳圖片相關
          handleImageUpload(uploadSelector, previewSelector, coursePhotos) {
            $(document).on("change", uploadSelector, (event) => {
              const files = event.target.files;
              if (files.length > 3) {
                // 超过最大数量，进行相应的处理，例如提示错误消息
                alert("最多只能選擇3張圖片唷!!");
                // 清空已选择的文件
                $(uploadSelector).val("");
                // 清空预览区域中的内容
                $(previewSelector).empty();
                return;
              }

              const previews = Array.from($(previewSelector));
              const previewIds = previews.map((preview) =>
                $(preview).data("preview")
              );

              // Reset previews
              previews.forEach((preview) => {
                $(preview).empty();
              });

              // Display selected images in previews
              for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = (e) => {
                  const base64Image = e.target.result;
                  // 切割出前缀部分
                  const imageData = base64Image.split(";base64,")[1];
                  // 保存切割后的图片数据到相应的数据属性
                  this.coursePhotos[`coursePhoto${i + 1}`] = imageData;

                  const previewId = previewIds[i];
                  const previewElement = $(
                    `${previewSelector}[data-preview="${previewId}"]`
                  );

                  const img = $("<img>")
                    .attr("src", base64Image)
                    .on("load", () => {
                      const maxWidth = previewElement.width();
                      const maxHeight = previewElement.height();
                      const width = img.width();
                      const height = img.height();
                      const scaleFactor = Math.min(
                        maxWidth / width,
                        maxHeight / height
                      );

                      img.css({
                        width: width * scaleFactor + "px",
                        height: height * scaleFactor + "px",
                      });
                    });

                  previewElement.append(img);
                };

                reader.readAsDataURL(file);
              }
            });
          },
          handleChapterImageUpload(
            uploadSelector,
            previewSelector,
            chapterPhoto,
            event,
            index
          ) {
            $(document).on("change", uploadSelector, (event) => {
              const file = event.target.files[0];
              const previewId = $(event.target).data("preview");
              const previewElement = $(
                `${previewSelector}[data-preview="${previewId}"]`
              );

              if (file && previewElement) {
                const reader = new FileReader();
                reader.onload = (e) => {
                  this.chapters[index].chapterPhoto = file; // 存储文件对象而不是Base64数据
                  console.log(this.chapters[index].chapterPhoto);

                  const img = new Image();
                  img.src = e.target.result;
                  img.onload = () => {
                    const width = img.width;
                    const height = img.height;
                    const maxWidth = previewElement.width();
                    const maxHeight = previewElement.height();

                    const scaleFactor = Math.min(
                      maxWidth / width,
                      maxHeight / height
                    );

                    this.chapterPhotoUrls.splice(index, 1, img.src); // 更新chapterPhotoUrls数组中对应索引的元素为新的图像URL
                  };
                };

                reader.readAsDataURL(file);
              }
            });
          },
          handleVideoUpload(event, index) {
            const file = event.target.files[0];
            this.chapters[index].chapterFile = file;
            console.log(this.chapters[index].chapterFile);
          },
        },
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var collapseBtn = document.getElementById("collapse");
        var sidebar = document.getElementById("sidebar");

        collapseBtn.addEventListener("click", function () {
          sidebar.classList.toggle("active");
        });
      });
    </script>
    <!-- FontAwesome 連結 -->
    <script
      src="https://kit.fontawesome.com/664595efd5.js"
      crossorigin="anonymous"
    ></script>
    <!-- JQuery連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- backindex的JS連結 -->
    <script src="../js/check.js"></script>
    <!-- ===============在此插入自己的JS======================== -->
    <!-- Bootstrap 連結2 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- table連結 -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  </body>
</html>
