<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- bootstrap相關 -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"
    ></script>
    <!-- bootstrap相關 -->
    <!-- vue與axios -->
    <script src="../js/courseJS/vue.js"></script>
    <script src="../js/courseJS/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-star-rating/dist/star-rating.min.js"></script>
    <!-- vue與axios -->
    <link href="../css/course/baseVer2.css" rel="stylesheet" type="text/css"/>
    <link href="../css/course/course.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
    />
    <script src="../jquery/jquery-3.6.4.min.js"></script>
    <script src="../js/courseJS/base.js"></script>
    <!-- 要登入驗證請解開這個 -->
    <!-- <script src="../js/loginCheck.js"></script> -->
    <script src="../js/base.js"></script>

    <title>教師檔案</title>
    <style>
        /*.teacher_info {*/
        /*    display: flex;*/
        /*    flex-direction: column;*/
        /*    justify-content: center;*/
        /*    align-items: center;*/
        /*    padding: 20px 20px 20px 20px;*/
        /*}*/

        .teacher_more {
            font-size: 25px;
            margin: 20px 20px 20px 20px;
        }

        .share button {
            color: white;
            background-color: #3c6a36;
            font-size: 10px;
            border: 2px solid #ccc;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 1ch;
            cursor: pointer;
        }
    </style>
</head>
<body class="TeacherWanted">
<!-- 手機板導引列(粗糙) -->
<header class="TeacherWanted">
    <div id="mySidebar">
        <img src="../img/base/logo.png" alt=""/>
        <a href="/index" class="">首頁</a>
        <a href="/courseteacher/CourseVue.html" class="">課程</a>
        <a href="/active/activeIndex.html" class="">活動</a>
        <a href="/wish" class="">許願池</a>
        <a href="/bbsdiscuss/index.html?posttype=all" class="">論壇</a>
        <a href="/baseVer3/homepage.html" class="">商城</a>
    </div>
    <div class="navBar">
        <ul class="containerHearder flexWrap flexVerticalCenter">
            <li>
                <img
                        src="../img/base/menu.png"
                        id="phoneMenu"
                        class="mobileHave"
                        style="height: 30px; margin: 10px"
                        alt=""
                />
            </li>

            <li
                    class="flexWrap flexAllCenter"
                    style="font-size: 50px; color: #a4c964; margin: 10px 0px"
            >
                <img
                        src="../img/base/logo.png"
                        class="miniMobile"
                        style="height: 50px; margin: 0px 5px"
                        alt=""
                />
                <p>懸賞啼雀</p>
            </li>
            <li
                    class="flexWrap"
                    style="
              flex-grow: 1;
              display: flex;
              align-items: center;
              justify-content: end;
            "
            >
                <!-- 電腦版導引列 -->
                <div
                        id="navLink"
                        class="flexWrap flexAllCenter pcHave"
                        style="flex-grow: 1"
                >
                    <a class="flexAllCenter" href="/index">首頁</a>
                    <a class="flexAllCenter" href="/courseteacher/CourseVue.html"
                    >課程</a
                    >
                    <a class="flexAllCenter" href="/active/activeIndex.html">活動</a>
                    <a class="flexAllCenter" href="/wish">許願池</a>
                    <a class="flexAllCenter" href="/bbsdiscuss/index.html?posttype=all">論壇</a>
                    <a class="flexAllCenter" href="/baseVer3/homepage.html">商城</a>
                </div>
                <div
                        class="flexWrap flexAllCenter"
                        style="position: relative; top: 2px"
                >
                    <div class="miniMobile">
                        <div id="navSearch" action="">
                            <select id="serchType">
                                <option value="課程">課程</option>
                                <option value="活動">活動</option>
                                <!-- <option value="商城">商城</option>
                                <option value="許願">許願</option> -->
                            </select>
                            <input id="searchText" type="text"/>
                            <img id="searchIcon" src="../img/base/search.svg" alt=""/>
                        </div>
                    </div>

                    <img
                            src="../img/base/bell.svg"
                            id="navAnn"
                            class="miniMobile"
                            style="height: 30px; margin: 3px 5px; cursor: pointer"
                            alt=""
                    />
                    <img
                            src="../img/base/mailForNavbar.svg"
                            id="navMail"
                            class="miniMobile"
                            style="
                  height: 30px;
                  margin: 3px 5px;
                  cursor: pointer;
                  position: relative;
                  bottom: 1px;
                "
                            alt=""
                    />
                    <img
                            src="../img/base/shoppingCart.svg"
                            id="navShoppingcart"
                            class="miniMobile"
                            style="height: 30px; margin: 3px 5px; cursor: pointer"
                            alt=""
                    />

                    <!--登入按鈕 開始 -->

                    <div id="loginOrUser"></div>
                    <!-- 登入按鈕 結束 -->
                </div>
            </li>
        </ul>
    </div>
</header>

<main id="app" class="TeacherWanted">
    <!-- ！！！寫在這裡！！！
    如果要讓區塊至中的話可以使用containerBase這個class(目前寬度1140px) -->
    <div class="container" style="display: flex; margin-bottom: 20px;border-radius: 1ch;
    box-shadow: 2px 2px 5px rgba(0.3, 0.3, 0.3, 0.3);">
        <div class="col-2" style="margin-bottom: 20px;height: 100%; display: flex;text-align: center;justify-content: center">
            <div v-if="teacherWithPhotoUrl">
                <div><img :src="teacherWithPhotoUrl.teacherPhotoUrl" alt=""/></div>
                <div>{{teacherWithPhotoUrl.teaName}}</div>
                <div class="button-container" style="display: flex;justify-content: center;/">
                    <div v-if="this.fav === 0">
                        <button type="button" class="btn btn-success" style="width: 90px;margin-right: 5px"
                                @click="addToFavorite()"><img src="../img/base/cards-heart.svg" alt=""/>收藏
                        </button>
                    </div>
                    <div v-if="this.fav === 1">
                        <button type="button" class="btn btn-success"
                                style="width: 90px;margin-right: 5px; background-color: white; color: #3c6a36 "
                                @click="removeFromFavorite()"><img src="../img/base/cards-heart.svg" alt=""/>已收藏
                        </button>
                    </div>
                    <!--                    <button type="button" class="btn btn-success" style="width: 90px"><img src="../img/base/message.svg"-->
                    <!--                                                                                           alt=""/>私信-->
                    <!--                    </button>-->
                </div>
                <span>關於我</span>
                </br>
                <span style="font-size: 14px;color: #616161">{{teacher.teaProfile}}</span>
                </br>
                </br>
                <span>擅長科目</span>
                </br>
                <span style="font-size: 14px;color: #616161">{{ teacher.teachingSubject1 | formatSubject }}</span>
                <span style="font-size: 14px;color: #616161">{{ teacher.teachingSubject2 | formatSubject }}</span>
                <span style="font-size: 14px;color: #616161">{{ teacher.teachingSubject3 | formatSubject }}</span>
            </div>
        </div>
        <div class="col-1" ></div>
        <div class="col-9" style="">
            <div class="box">
                <div class="teacher_more">
                    開授課程<span class="more"></span>
                </div>
                <ul class="item_list">
                    <li
                            v-for="(course, i) in coursesWithPhotoUrl"
                            :key="i"
                            @click="handleClick(course)"
                    >
                        <div class="img_block">
                            <img :src="course.coursePhotoUrl" alt=""/>
                        </div>
                        <div class="col">{{ course.courseName }}</div>
                        <div class="col"
                             style="font-size: 16px;font-family: Serif  ;"
                        >by{{ teacher.teaName }}
                        </div>
                        <div class="col"
                             style="font-size: 16px;font-family: Serif;">
                            <star-rating
                                    :inline="true"
                                    :star-size="20"
                                    :read-only="true"
                                    :show-rating="false"
                                    :rating="rankings[i]"
                                    class="single-star"
                            ></star-rating>
                            <span class="more"
                            >{{ course.courseLength }}小時</span
                            >
                            </br>
                            <span class="more"
                            >{{ course.boughtCount }}人</span
                            >
                        </div>
                        <div class="col" style="color: #3fb652">
                            NT{{ course.coursePrice }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</main>
<script>
    Vue.component("star-rating", VueStarRating.default);
    const memberData = JSON.parse(sessionStorage.getItem("memberStorage"));
    if (memberData != null) {
        var memId = memberData.memId;
    }
    if (memberData == null) {
        var memId = null;
    }
    const urlParams = new URLSearchParams(window.location.search);
    const teaId = urlParams.get("teaId");
    const courseDetailMixin = {
        methods: {
            handleClick(course) {
                const courseId = course.courseId;
                const targetUrl = `./CourseDetailVue.html?courseId=${courseId}`;
                window.location.href = targetUrl;
            },
            // getTeacherName(teaId) {
            //     const teacher = this.teachers.find(
            //         (teacher) => teacher.teaId === teaId
            //     );
            //     return teacher ? teacher.teaName : "";
            // },
        },
    };
    new Vue({
        el: "#app",
        data() {
            return {
                teacher: null,
                courses: [],
                rankings: [],
                memId: null,
                teaId: null,
                createTime: new Date(),
                fav: null,
            };
        },
        computed: {
            coursesWithPhotoUrl() {
                return this.courses.map((course) => ({
                    ...course,
                    coursePhotoUrl: `data:image/png;base64,${course.coursePhoto1}`,
                }));
            },
            teacherWithPhotoUrl() {
                if (this.teacher) {
                    return {
                        ...this.teacher,
                        teacherPhotoUrl: `data:image/png;base64,${this.teacher.teaPhoto}`,
                    };
                }
                return null;
            },
            // subject1() {
            //     return this.getSubjectValue(this.teacher.teachingSubject1);
            // },
            // subject2() {
            //     return this.getSubjectValue(this.teacher.teachingSubject2);
            // },
            // subject3() {
            //     return this.getSubjectValue(this.teacher.teachingSubject3);
            // },
        },
        filters: {
            formatSubject(subjectNumber) {
                switch (subjectNumber) {
                    case 1:
                        return "語言";
                    case 2:
                        return "生活";
                    case 3:
                        return "程式語言";
                    case 4:
                        return "音樂";
                    case 5:
                        return "美術";
                    case 6:
                        return "運動";
                    case 7:
                        return "未填";
                    default:
                        return ""; // 處理其他情況
                }
            }
        },
        methods: {
            addToFavorite() {
                if (memId != null) {
                    const data = {
                        memId: this.memId,
                        teaId: this.teaId,
                        createTime: new Date(),
                        favTeaPhoto: this.teacher.teaPhoto,
                        favTeaName: this.teacher.teaName,
                    };
                    console.log(data);

                    axios
                        .post("http://localhost:8080/favtea", data)
                        .then((response) => {
                            console.log(response.data);
                            this.fav = 1;
                            console.log("加入收藏成功!");
                        })
                        .catch((error) => {
                            console.error(error);
                            console.log("加入收藏失敗!");
                        });
                }else{
                    alert("請先登入才能加入收藏唷!")
                }
            },
            removeFromFavorite() {
                const memId = this.memId;
                const teaId = this.teaId;

                axios
                    .delete("http://localhost:8080/favtea/" + memId + "/" + teaId)
                    .then((response) => {
                        console.log(response.data);
                        this.fav = 0;
                        console.log("移除成功!");
                    })
                    .catch((error) => {
                        console.error(error);
                        console.log("移除失敗!");
                    });
            }
        },
        mixins: [courseDetailMixin],
        mounted() {
            axios
                .get("http://localhost:8080/teacher/" + teaId)
                .then((response) => {
                    this.teacher = response.data;
                    console.log(this.teacher);
                    this.teaId = this.teacher.teaId;
                    return axios.get("http://localhost:8080/TeacherCourses/" + teaId);
                })
                .then((coursesResponse) => {
                    this.courses = coursesResponse.data.courses;
                    const total = coursesResponse.data.total; // 获取total值
                    console.log(this.courses);
                    this.rankings = this.courses.map(course => {
                        return course.courseTotalEvaluate === 0 ? "" : course.courseTotalRank / course.courseTotalEvaluate;
                    });
                    console.log(this.rankings);
                    // const memId = this.memId;
                    if (memId != null) {
                        this.memId = memId;
                        const teaId = this.teaId;
                        return axios.get("http://localhost:8080/favtea/" + memId + "/" + teaId);
                    } else {
                        this.fav = 0;
                        return Promise.reject("memId is null"); // 如果memId为null，返回一个拒绝的Promise对象
                    }
                })
                .then((favteaResponse) => {
                    this.fav = favteaResponse.data;
                    console.log(this.fav);
                })
                .catch((error) => {
                    console.error(error);
                });
        },
    });
</script>
<footer
        class="TeacherWanted"
        style="background-color: #3c6a36; color: white"
>
    <div
            class="containerFooter flexAllCenter"
            style="box-sizing: border-box; padding-top: 50px"
    >
        <div class="flexWrap">
            <ul class="col_33">
                <li class="flexAllCenter" style="color: #a4c964; font-size: 40px">
                    懸賞啼雀
                </li>
                <li
                        class="flexAllCenter"
                        style="margin: 10px 30px; font-weight: normal"
                >
                    現代⼈⽣活步相當緊湊我們的課平台幫助
                    ⼈們學並且除了線上課提供了實家的合會⼤了學的⾯向
                    課元可提⾼學⽣的學興積性 並促學⽣的⾯發展
                </li>
                <li
                        id="imgIcon"
                        class="flexVerticalCenter"
                        style="margin: 20px 30px"
                >
                    <img src="../img/base/facebook.svg" class="imgIntroduce" alt=""/>
                    <img src="../img/base/twitter.svg" class="imgIntroduce" alt=""/>
                    <img
                            src="../img/base/instagram.svg"
                            class="imgIntroduce"
                            alt=""
                    />
                </li>
            </ul>
            <ul class="col_33 flexHorizontalCenter footerMobile">
                <div style="width: 70%">
                    <li
                            class="flexAllCenter"
                            style="color: #a4c964; font-size: 30px; height: 65px"
                    >
                        Get In Touch
                    </li>
                    <div class="" style="height: 250px; font-weight: 400">
                        <li class="flexWrap" style="margin-top: 10px">
                            <img
                                    src="../img/base/map-marker.svg"
                                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                                    alt=""
                            />
                            <div>
                                <h3 style="font-size: 1.3rem">地址</h3>
                                <h5 style="font-size: 1rem">台北市中山區南京東路三段</h5>
                            </div>
                        </li>

                        <li class="flexWrap" style="margin-top: 10px">
                            <img
                                    src="../img/base/mail.svg"
                                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                                    alt=""
                            />
                            <div>
                                <h3 style="font-size: 1.3rem">信箱</h3>
                                <h5 style="font-size: 1rem">a1234567890@gmail.com</h5>
                            </div>
                        </li>

                        <li class="flexWrap" style="margin-top: 10px">
                            <img
                                    src="../img/base/phone.svg"
                                    style="height: 24px; padding-right: 10px; margin-top: 6px"
                                    alt=""
                            />
                            <div>
                                <h3 style="font-size: 1.3rem">連絡電話</h3>
                                <h5 style="font-size: 1rem">0900123456</h5>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>
            <ul class="col_33 flexHorizontalCenter footerMobile">
                <div style="width: 40%">
                    <li
                            class="flexAllCenter"
                            style="color: #a4c964; font-size: 30px; height: 65px"
                    >
                        網站地圖
                    </li>
                    <div class="webMap">
                        <li style="margin-top: 5px">
                            <a class="webMapLink" href="/index">>首頁</a>
                        </li>
                        <li style="margin-top: 5px">
                            <a class="webMapLink" href="/courseteacher/CourseVue.html"
                            >>課程</a
                            >
                        </li>
                        <li style="margin-top: 5px">
                            <a class="webMapLink" href="/active/activeIndex.html"
                            >>活動</a
                            >
                        </li>
                        <li style="margin-top: 5px">
                            <a class="webMapLink" href="/wish">>許願池</a>
                        </li>
                        <li style="margin-top: 5px">
                            <a class="webMapLink" href="/bbsdiscuss/index.html?posttype=all">>論壇</a>
                        </li>
                        <li style="margin-top: 5px">
                            <a class="webMapLink" href="/baseVer3/homepage.html">>商城</a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
